/* CSS Document */

@font-face {
    font-family: 'GraRoman';
    src: url('granjonltstd-webfont.eot?') format('eot'),
         url('granjonltstd-webfont.woff') format('woff'),
         url('granjonltstd-webfont.ttf') format('truetype'),
         url('granjonltstd-webfont.svg#webfontPT2iazst') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'GraItalic';
    src: url('granjonltstd-italic-webfont.eot?') format('eot'),
         url('granjonltstd-italic-webfont.woff') format('woff'),
         url('granjonltstd-italic-webfont.ttf') format('truetype'),
         url('granjonltstd-italic-webfont.svg#webfontfnCwqbj7') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'GraBold';
    src: url('granjonltstd-bold-webfont.eot?') format('eot'),
         url('granjonltstd-bold-webfont.woff') format('woff'),
         url('granjonltstd-bold-webfont.ttf') format('truetype'),
         url('granjonltstd-bold-webfont.svg#webfontfnMkl4j3') format('svg');
    font-weight: normal;
    font-style: normal;
    
}