/*
Theme Name: Juwelier Haesevoets
Theme URI: http://www.juwelierhaesevoets.be
Description: For Juwelier Haesevoets.
Author: LMa
URL:  http://www.lightmachine.info
Author URI: http://www.lightmachine.info
Version: 3.3
*/



/************/

#extrainfo1 {
	height: 2px;
	font-size: 4px;
	color:black;
	opacity: 0.1;
	width: 8px;
	z-index: 0;
	overflow: hidden;
}


#extrainfo2 {
	height: 2px;
	font-size: 4px;
	color:black;
	opacity: 0.1;
	width: 8px;
	z-index: 0;
	overflow: hidden;
}

#categories-2 li, #archives-2 li, #meta-2 li {
font-family: 'GraItalic';
font-size: 14px;
font-weight: normal !important;
}

body {
font-family: 'GraRoman';
font-size: 14px;
}

blockquote
{
font-weight: normal !important;
font-variant: normal;
font-style: normal !important;
font-family: 'GraItalic';
font-size: 16px;
}

#navbar li a 
{
font-family: 'Helvetica', 'Verdana', sans-serif;
font-size: 14px;
font-weight: normal !important;
}

#navbar li span 
{
font-family: 'GraItalic';
font-size: 14px;
font-weight: normal !important;
}

#navbar ul.sub-menu li a 
{
font-family: 'GraItalic';
font-size: 16px;
font-weight: normal !important;
text-transform: none !important;
}


#main
{
font-family: 'Helvetica', 'Verdana', sans-serif;
font-size: 13px;
line-height: 20px;
font-weight: normal !important;
}

 
#main h1
{
font-family: 'GraBold';
font-size:  40px;
text-transform: uppercase;
margin: 35px 0 20px 0;
}

#main h2
{
font-family:'GraBold';
font-size:30px;
font-weight: normal !important;
}

#main h2.section_title
{
font-family:'GraItalic';
font-size:24px;
font-weight: normal !important;
letter-spacing: 1px;
}

#main h3
{
font-family: 'Helvetica', 'Verdana', sans-serif;
font-size: 20px;
font-weight: normal !important;
}

#main h4
{
font: italic 16px 'Myriad Pro',  'Helvetica', 'Verdana', sans-serif;
padding: 20px 0 10px 0;
clear: left;
}

#main h5
{
font: bold 14px 'Myriad Pro',  'Helvetica', 'Verdana', sans-serif;
padding: 20px 0 10px 0;
clear: left;
}


#main h6
{
font: bold 14px 'Verdana', 'Arial', sans-serif;
padding: 12px 0 10px 0;
clear: left;
}

#cboxTitle, #cboxCurrent {
display: none;
visibility: hidden;
}



/* ========= CSS Reset ========== */

body, h1, h2, h3, h4, h5, h6, a, p, ul, ol, li, em, strong, pre, code, form {
 padding: 0;
 margin: 0;
}

strong {
font-weight: normal !important;
}



/* ========= GENERAL STYLES ========== */
html
{height: 100%;}

body {
	color: white;
	line-height: 20px;
	background: black;
	height: 100%;
	overflow-x: hidden;
}	

body.video_background
{overflow: hidden;}

body.video_background #page_wrap
{position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;}

#wrapper
{width: 1000px;
margin: 0 auto;
position: relative;
height: 100%;
z-index: 100;
}



/* ========= GENERAL STYLES END HERE========== */




/* ========= BACKGROUND AND SLIDER STYLES ========== */


#tf_bg{

	width:100%;

	height:100%;

	position:fixed;

	top:0px;

	left:0px;

}



#tf_bg img{

	position:absolute;

	top:0px; /*-482px;	 -(imgh/2 - wh/2) */

	left:0px;	/* calculate a negative value to center horizontally */

	width:100%;	/* windowwidth plus negative value of left */

	/*height:1650px; /* windowheight plus negative value of top */

	z-index: 1;

	display:none;

}





#slideshow_controls
{position: absolute;
top: 400px;
right: 400px;
z-index: 10000;
}


body span#body_loader
{width: 32px;
height: 32px;
position: absolute;
top: 50%; 
left: 50%;
text-indent: -9999px;
background: url(images/ajax-loader.gif) no-repeat top left;
display: block;
z-index: 0;} 


.hide
{display: none;}

#flashcontent {
height: 100%;
z-index: 1;
}

#flashcontent p
{position: absolute;
top: 50%;
left: 40%;
width: 300px;
}

.grid
{position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(images/grid.png);
z-index: 10;
}


/* ========= BACKGROUND AND SLIDER STYLES END HERE========== */


/* =========  MENU STYLES ========== */
#menu_wrap
{width: 240px;
display: inline-block;
position: fixed;
top: 0px;
z-index: 500;}

#menu
{background: url(images/menu_back.png) repeat-y top left;
width: 220px;
padding: 0 10px 25px 10px;}

#logo
{width: 220px;
height: 180px;}

#logo h1 a   
{display: block;
width: 220px;
height: 180px;	
background: url(images/logo_back.png) no-repeat top left;
text-indent: -9999px;}


#navbar 
{list-style: none;
margin: 34px 0 -5px 20px;
position: relative;
z-index: 10000;}

#navbar li
{width: 160px;
height: 29px;
padding: 5px 10px 15px;
border-bottom: 1px solid #343434;
position: relative;
z-index: 10000;}

#navbar li a
{display: block;
width: 180px;
height: 40px;
color: #a3a3a3;
text-decoration: none;
text-transform: uppercase;
z-index: 20;
outline: none;
}


#navbar li span
{
color: #555555;
position: absolute;
top: 25px;
left: 10px;
z-index: 10;
text-transform: none;}


#navbar li span.hover_arrow
{width: 30px;
height: 30px;
display: none;
background: url(images/menu_hover_arrow.png) no-repeat top left;
position: absolute;
top: 10px;
left: 150px; 
}

#navbar li.menu-item:hover
{background: url(images/menu_hover_arrow.png) no-repeat center right;
}

#navbar .sub-menu li.menu-item:hover
{background: url(images/submenu_hover_arrow.png) no-repeat right 4px;
color:white;
}

#navbar li.current-menu-item a, #navbar li.current-menu-ancestor>a
{color: white;}

#navbar li.current-menu-parent>a
{color: white;}

#navbar li.current-menu-item a span, #navbar li.current-menu-ancestor a span, #navbar li.current-post-parent a span
{color: #aaaaaa;}

#navbar li.current_page_item .sub-menu li.menu-item a{
color: #a3a3a3;}


#navbar li ul
{position: absolute;
top: -1px;
left: 190px;
list-style: none;
background: url(images/menu_back.png) repeat-y top left;
border: 1px solid #2f2f2f;
z-index: 1000;
width: 200px;
display: none;}


#navbar li ul li ul
{left: 150px;
display: none;
}

#navbar li:hover ul
{display: block;}

#navbar li:hover ul li ul
{display: none;
}

#navbar li:hover ul li:hover ul
{display: block;}

#navbar li ul li
{padding: 0 0 10px 0;
margin: 0 20px;
min-height: 30px;
width: 160px;
border-color: #1b1b1b;
position: relative;
z-index: 1000;}

#navbar li ul li a
{padding: 12px 0px 8px 30px;
display: block;
width: 170px;
height: 20px;
margin: 0 0 0 -20px;
}

#navbar li ul li a
{font-size: 12px;}


#navbar li ul li:hover
{background: url(images/submenu_hover_arrow.png) no-repeat right 4px;
}

#navbar li ul li:first-child
{border-top: none;}

#navbar li ul li:last-child
{border-bottom: none;}

a.not_link
{cursor: default;}

span.not_link
{cursor: default;}

#hide_menu {
background: url(images/hide_menu_back.png) no-repeat bottom left;
width: 220px;
height: 115px;
margin: 0 0 0 0;
padding: 0 30px 0 30px;
position: relative;}

.menu_visible
{background: url(images/menu_hide_arrow_top.png) no-repeat top left;}

.menu_hidden
{background: url(images/menu_hide_arrow_bottom.png) no-repeat top left;}

#hide_menu a
{
display: none;
width: 48px;
height: 48px;
text-indent: -9999px;
position: absolute;
top: 5px;
left: 98px;
outline: none;}

.menu_tooltip
{width: 140px;
height: 30px;
padding: 17px 15px 0 25px;
background: url(images/tooltip.png) no-repeat center center;
position: absolute;
top: 4px;
left: 131px;
line-height: 18px;
display: none;
}


.menu_tooltip div
{position: absolute;
top: 14px;
left: 31px;
}

.menu_tooltip .tooltip_show
{display: none;}


.menu_tooltip p
{text-align: center;}

/* ========= MENU STYLES END HERE ========== */




/* ========= MAIN STYLES ========== */


#main_wrap {min-height: 100%;
background: url(images/content_back.png) repeat-y top left; 
margin: 0 0 0 240px;}

#main
{position: relative;
width: 680px;
padding: 0 40px 5px 40px;
line-height: 20px;
display: inline-block;
z-index: 2;
}

 
#main h1
{
text-transform: uppercase;
margin: 35px 0 20px 0;
}

#main h2
{
text-transform: uppercase;
margin: 35px 0 20px 0;
}

#main h2.section_title
{
text-transform: uppercase;
margin: 19px 0 40px 0;
}

#main h3
{
padding: 30px 0 15px 0;
clear: left;
}

#main h4
{
padding: 20px 0 10px 0;
clear: left;
}

#main h5
{
padding: 20px 0 10px 0;
clear: left;
}


#main h6
{
padding: 12px 0 10px 0;
clear: left;
}

#content
{float: left;
margin: -28px 0 30px 0;
position: relative;
z-index: 20;}

.content_two_thirds
{width: 460px;}

.content_full_width
{
width: 680px;
}

.right
{margin: 0 -20px 0 0 !important;}

#content p
{margin-bottom: 20px;}

#content .img_floated_left
{float: left;
margin: 5px 20px 10px 0;
border: none;}

#content .img_floated_right
{float: right;
margin: 5px 0 10px 20px;
border: none;}

#content img
{margin: 0px 0 10px;
border: none;
}

#content img.alignleft
{float: left;
margin: 5px 20px 10px 0; /* Updated in KingSize V3 */
clear: both;}	


#content img.alignright
{float: right;
margin: 5px 0 10px 20px; /* Updated in KingSize V3 */
clear: both;}	


#content ul,  #content ol {
 margin: -10px 0 20px 60px; 
}
 
#content ul li li {
 margin-left: -35px;
}

#content ul ul {
 margin-top: 5px;
}

#content ul li {
 margin-top: 5px;
}

 
.archives {
 margin-left: 20px !important;
 }
 
 .archives a {
 color: #9F9F9F;
 text-decoration: none;
 }
 
 .archives a:hover {
 color: #cfcfcf;
 }
 
#content ul.no_bullets, #content ol.no_bullets
{list-style: none;}

#content ul.floated_left
{margin: 20px 0;
overflow: hidden;
}

#content ul.floated_left li
{float: left;
margin: 10px;
display: inline;
}

blockquote
{display: block;
padding: 15px 30px 30px 60px;
width: 440px;
margin: 0 0 0 15px;
color: #bbbbbb;
font-style: italic;
background: transparent url(images/blockquote.png) no-repeat top left; }


.button {
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
text-decoration: none;
}
.button:active {
position: relative;
top: 1px;
}

/* ========= MAIN STYLES END HERE========== */


/* ========= SEARCH FORM STYLES ==========*/
#searchform
{width: 180px;}

#s
{width: 104px;
margin: 0;
padding: 5px 5px;}

#searchsubmit
{font-size: 12px;
width: 58px;
padding: 4px 0;
}

#page_search
{margin: 40px 0 30px 0;}

#page_search #searchform
{width: 400px;}

#page_search #s
{width: 200px;
margin: 0;
padding: 7px 5px;
margin: 0 5px 0 0;}

#page_search #searchsubmit
{padding: 6px 0;
width: 70px;
}








/* ========= SEARCH FORM STYLES END HERE ==========*/





/* ========= GALLERY STYLES ========= */

/* --- Galleria styles --- */
#gallery_galleria 
{height: 620px;
width: 700px;
margin: -20px 0 15px -10px;
}
/* --- Galleria styles end here --- */


/* --- Slideviewer styles --- */

/*preload classes*/ 
#gallery_slideviewer
{width: 600px;
height: 500px;
overflow: hidden;
}

.svw {width: 50px; height: 20px; background: #fff; }

.svw ul {position: relative; left: -999em; } 

/*core classes*/ 
.stripViewer 
{position: relative; overflow: hidden; border: 5px solid #262626; margin: 0 0 1px 0; } 

.stripViewer ul { /* this is your UL of images */ margin: 0; padding: 0; position: relative; left: 0; top: 0; width: 1%; list-style-type: none;} 

.stripViewer ul li { float:left; } .stripTransmitter { overflow: auto; width: 1%; } .stripTransmitter ul { margin: 0; padding: 0; position: relative; list-style-type: none; } 

.stripTransmitter {padding: 0 0 25px 0;}

.stripTransmitter ul li{ width: 20px; float:left; margin: 0 1px 1px 0; } 

.stripTransmitter a{ font: bold 10px Verdana, Arial; text-align: center; line-height: 22px; background: #262626; color: #fff; text-decoration: none; display: block; } 

.stripTransmitter a:hover, a.current{ background: #fff; color: #262626; } /*tooltips formatting*/ 

.tooltip { padding: 0.5em; background: #fff; color: #000; border: 5px solid #dedede; } 



/* --- prettyphoto / fancybox / colorbox gallery styles --- */

.gallery
{margin: 20px 0 0 0;
}

.gallery ul li a img
{border: none;
}

.gallery ul li
{position: relative;
z-index: 1;
}


.gallery_2columns 
{list-style: none;
margin: 0 0 0 -20px;
width: 700px;}

.gallery_2columns li
{display: inline;
float: left;
width: 330px;
height: 220px;
margin: 0 0 20px 20px;
position: relative;}

.gallery_3columns 
{list-style: none;
margin: 0 0 0 -10px;
width: 690px;
overflow: hidden;}

.gallery_3columns li
{display: inline;
float: left;
width: 220px;
height: 140px;
margin: 0 0 10px 10px;
position: relative;}


.gallery_4columns 
{list-style: none;
margin: 0 0 0 -13px;
width: 700px;
overflow: hidden;} 

.gallery_4columns li
{display: inline;
float: left;
width: 160px;
height: 110px;
margin: 0 0 13px 13px;
position: relative;}


.gallery_grid
{list-style: none;
margin: 0 0 0 -3px;
width: 710px;
overflow: hidden;} 

.gallery_grid li
{display: inline;
float: left;
width: 112px;
height: 112px;
margin: 0 0 2px 2px;
position: relative;}

.gallery a span
{
z-index: 2;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
cursor: pointer;
}

.gallery .gallery_2columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_big.png) no-repeat center center;
}

.gallery .gallery_2columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_big.png) no-repeat center center;
}

.gallery .gallery_3columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_medium.png) no-repeat center center;
}

.gallery .gallery_3columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_medium.png) no-repeat center center;
}

.gallery .gallery_4columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_small.png) no-repeat center center;
}

.gallery .gallery_4columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_small.png) no-repeat center center;
}

.gallery .gallery_grid a span.image_hover
{background: black url(images/gallery_hover/hover_image_grid.png) no-repeat center center;
}

.gallery .gallery_grid a span.video_hover
{background: black url(images/gallery_hover/hover_video_grid.png) no-repeat center center;
}
/*  ========= GALLERY STYLES END HERE  ========= */



/*  ========= BLOG STYLES  ========= */

/* --- Post styles --- */
.post h3 a
{font-size: 20px;
font-weight: bold;
color: white;
text-decoration: none;}

.post .metadata
{
height: 16px;
padding: 8px 10px 6px 10px;
color: #9e9e9e;
position: relative;
margin: 10px 0 20px 0;}

.post .metadata-no-date
{border-top: 1px solid #343434;
padding: 8px 10px 6px 10px;
color: #9e9e9e;
position: relative;
margin: 10px 0 10px 0;}

.post .metadata a
{position: absolute;
top: 8px;
right: 10px;
text-decoration: none;
color: #666;
padding: 0 0 0 25px;
display: block;}

.post .metadata a:hover
{text-decoration: underline;}

.post .metadata p
{
	font-family: 'GraItalic';
	font-size: 17px;
}

.post .metadata_tags
{border-top: 1px solid #343434;
border-bottom: 1px solid #343434;
height: 16px;
padding: 8px 10px 6px 10px;
color: #9e9e9e;
position: relative;
margin: 10px 0 20px 0;}

.post .metadata_tags a
{text-decoration: none;
color: #9e9e9e;
}

.post .metadata_tags a:hover
{text-decoration: underline;}

.post .metadata_tags p
{padding: 0 0 0 25px;
background: url(images/tags.png) no-repeat left -1px;}

.post
{position: relative;
padding: 0 0 0 0;
padding-bottom: 15px;}

.single_post
{padding: 0;}

#content .post img.blog_thumbnail
{border: 0;
margin: 5px 0 15px 0;}

.post a.thumbnail
{margin: 0 0 20px 0;}

.post p
{color: #c0c0c0;}

.post a.read_more
{
font-size: 14px;
color: white;
padding: 1px 0 0 0;
text-decoration: none;
position: absolute;
right: 0;
bottom: -26px;
}

.post a.read_more:hover
{border-bottom: 1px solid white;
padding: 1px 0 0 0; /* Updated in KingSize V3 */}

/* --- Sidebar styles --- */
#sidebar
{float: left;
width: 160px;
margin: 10px 0 30px 40px;
padding-left: 12px;
border-left: 1px solid #2b2b2b;
}

#sidebar div
{margin: 0 0 40px;}

#sidebar h3
{font-size: 18px;
padding:0 0 20px 0;
color: #d1d1d1;
font-weight: normal;}

#sidebar ul
{list-style: none;
margin: 0 0 0;}

#sidebar ul li
{border-bottom: 1px solid #2b2b2b;

}

#sidebar ul li a
{
height: 100%;
padding: 4px 10px 6px 10px;
color: #9f9f9f;
text-decoration: none;
display: block;}

#sidebar ul li:hover
{background-color: #121212;
}

#sidebar ul li a:hover
{color: #cfcfcf;

}

#sidebar ul#recentcomments a
{border: none;
display: inline;
}

#sidebar ul#recentcomments li
{padding: 7px 0;}

#sidebar ul#recentcomments li a
{padding: 0;
color: white;
}

#sidebar ul#twitter_list li
{padding: 7px 10px;}

#sidebar ul#twitter_list li a
{padding: 0;
display: inline;
}

#sidebar ul#twitter_list li a.tweet_nofollow
{font-size: 11px;
color: #929292;
}

#sidebar ul#twitter_list li a.tweet_nofollow:hover
{text-decoration: underline;}


#sidebar ul.wGallery li
{border: none;}

#sidebar ul.wGallery li:hover
{background: none;}

#sidebar ul.wGallery li a
{padding: 0 0 20px;
}

#sidebar #searchform
{position: relative;}

#sidebar #searchform label
{position: absolute;
top: 1px;
left: 5px;
font-size: 11px;
}

#sidebar ul a img
{border: none;}

#pagination-container {
	position: relative;
	top: 35px;
}

#pagination
{float: left;
position: relative;
width: 460px;
height: 25px;
padding: 5px 0 35px 0;
}

#pagination a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
display: block;}

#pagination div a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
border: 1px solid #2c2c2c;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
 border-radius: 3px;
background-color: ;}

#pagination div.older a
{position: absolute;
left: 0px;
padding: 4px 12px 4px 27px;
background: #111111 url(images/older.png) no-repeat center left;
}

#pagination div.older a:hover
{background-color: #222222;}

#pagination div.newer a
{position: absolute;
right: 0px;
padding: 4px 25px 4px 12px;
background: #111111 url(images/newer.png) no-repeat center right;
}

#pagination div.newer a:hover
{background-color: #222222;}

#pagination ul
{list-style: none;}

#pagination ul li
{float: left;}

#pagination-full
{float: left;
position: relative;
width: 680px;
height: 25px;
margin-top: 15px;
padding: 5px 0 35px 0;
}

#pagination-full a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
display: block;}

#pagination-full div a
{color: white;
text-decoration: none;
font-style: italic;
font-size: 14px;
border: 1px solid #2c2c2c;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
 border-radius: 3px;
background-color: ;}

#pagination-full div.older a
{position: absolute;
left: 0px;
padding: 4px 12px 4px 27px;
background: #111111 url(images/older.png) no-repeat center left;
}

#pagination-full div.older a:hover
{background-color: #222222;}

#pagination-full div.newer a
{position: absolute;
right: 0px;
padding: 4px 25px 4px 12px;
background: #111111 url(images/newer.png) no-repeat center right;
}

#pagination-full div.newer a:hover
{background-color: #222222;}

#pagination-full ul
{list-style: none;}

#pagination-full ul li
{float: left;}

/* --- Comments styles --- */

#comments {

}

#content #comments_list {
 list-style: none;
 margin: 0;
 padding: 0;
 width: 460px;
}

#comments_list div {
 background: #0e0e0e;
 border: 1px solid #242424;
 margin: 0 0 20px 0;
 padding: 10px 30px 20px;
 position: relative;
 z-index: 5;
 zoom: 1;
}

#comments_list .children {
 margin: -10px 0 20px 30px;
}

/*
#comments_list ul ul ul li p.comment_metadata {
 width: 100px;
}
*/

#comments_list li {
 list-style: none;
}

.comment img.comment_avatar {
 position: absolute;
 top: 15px;
 left: 30px;
}


.comment a.comment_author {
 color: #8e8e8e;
 position: absolute;
 top: 19px;
 left: 90px;	
}

.comment a.comment_author:hover {
 color: #c1c1c1;
}

.comment p.comment_metadata {
 color: #8e8e8e;
 position: absolute;
 top: 39px;
 left: 90px;	
}

.comment p.comment_number {
 position: absolute;
 top: 25px;
 right: 30px;	
 font-size: 40px;
 font-style: italic;
 color: #4d4d4d;
}

.comment p.comment_text {
 border-top: 1px solid #242424;
 /*margin: 70px 0 0 0px;*/
 padding: 10px 0 0 0;
 color: #c1c1c1;
}

#comment_form {
 margin: 10px 0 0 0;
 padding: 0 0 0 0;
}

#comment_form input {
 height: 20px;
 width: 220px;
}

#comment_form textarea { 
 width: 420px;
 height: 175px;
}

#comments_list li #comment_form textarea
{width: 97%;}

p.comment_info {
 font-size: 11px;
 margin: 10px 0 20px;
}

h3.comments_head {
 font-style: italic;
}

/* =========  Child Comments =========  */
ul.children {
	padding-left: 25px;
	background: none;
}


#content a.comment-reply-link {
 padding: 3px 10px;
 width: 40px;
 text-align: center;
 display: block;
 text-decoration: none;
 background: black;
 border: 1px solid #333333;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 color: #7d7d7d;
}


#content a.comment-reply-link:hover {
 background: #222222;
}

/*  ========= BLOG STYLES END HERE  ========= */

 


/*  ========= CONTACT PAGE STYLES  ========= */

#contact_ajax
{display: none;}

#contact_form
{margin: 27px 0 -50px 0;
min-height: 300px;
position: relative;}

p.contact_info
{font-size: 11px;
margin: 10px 0 20px;
}

input,  textarea
{background: #1b1b1b;
border: 1px solid #333333;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: white;
padding: 3px 5px;
font: 12px Verdana, Arial, sans-serif;
}

#contact_form input
{height: 20px;
width: 200px;
}

#contact_form textarea
{width: 420px;
height: 175px;
}

input:focus,  textarea:focus
{background: #232323;
border: 1px solid #616161;}

input#form_submit
{height: 30px;
padding: 0 0 2px 0;
width: 150px;
background: -moz-linear-gradient(top, #424242,#282828);
background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#282828));
}

input#form_submit:hover
{background: -moz-linear-gradient(top,#282828, #424242);
background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#424242));
cursor: pointer;
}

form p
{position: relative;
margin: 0 0 15px 0;}

form p label
{position: absolute;
top: 3px;
left: 10px;
color: #7b7b7b;
display: none;}

span.error
{position: absolute;
top: 3px;
left: 225px;
font-size: 12px;
color: red;}

span.comment_error
{left: 335px;
width: 100px;
}  

.error_input
{border: 1px solid red;}

#content .success
{color: green;
position: absolute;
bottom: 160px;
left: 30px;
padding: 5px 0 7px 50px;
background: url(images/success.png) no-repeat left 18px;
}

#content .post .success p
{color: #05ca00;}

#content ul.contact_list
{list-style: none;
margin: 0 0 20px 0;
padding: 0;
}

#sidebar ul.contact_list li
{
padding: 4px 10px 7px 0;
}

.contact_list li a
{
color: #9f9f9f;
text-decoration: none;
display: block;}

.contact_list li.contact_phone
{padding-left: 23px;
}

.contact_list li.contact_fax
{padding-left: 23px;
}

.contact_list li.contact_email
{padding-left: 23px;
}

.contact_list li.contact_address
{padding-left: 23px;
}

.map
{border: 1px solid white;
margin: 20px 0 0 0;
}

/*  ========= CONTACT PAGE STYLES END HERE  ========= */


/*  ========= FOOTER STYLES =========  */

#footer
{ 
width: 680px;
padding: 25px 40px 0 0px;
font-size: 12px;
position: relative;
height: auto;
clear: both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


#footer_columns
{width: 680px;
/*border-top: 1px solid #646464;*/
margin: 0 auto;
padding: 35px 0 40px 0;
overflow: hidden;}

#footer_columns div
{float: left;
width: 200px;
margin-right: 40px;
}

#footer_columns div.last
{margin-right: 0;	
}

#footer_columns h3
{padding: 0 0 10px 0;
font-size: 16px;
color: #bfbfbf;
border-bottom: 1px solid  #333333;
text-transform: uppercase;
}

#footer_columns div ul
{list-style: none;}

#footer_columns div li
{list-style: none;
}

#footer_columns div li a
{color: #c1c1c1;
display: block;
padding: 5px 0 5px 10px;
border-bottom: 1px solid #333333;
text-decoration: none;
}

#footer_columns div li a:hover
{background: #121212;}

#footer_columns .widget-container
{margin: 0 0 40px 0;}

#footer_copyright
{/*border-top: 1px solid #646464;*/
padding: 9px 0 0 0;
position: relative;}

#footer_copyright ul.social
{position: absolute;
right: 0px;
top: 20px;
}


#footer_info
{position: relative;
width: 680px;
margin: 0 auto;
}

#footer_info p
{margin: 7px 0 14px 0;
color: #bebebe;
font-size: 11px;
}

#footer ul.social{
 list-style: none;
}

#footer ul.social li
{float: left;
margin: 0 0 0 9px; 
}

#footer ul.social li a
{border: none;
}

#footer ul.social li a:hover
{background: none;
}

#footer ul.social li a img
{border: none;}


/*---- Tooltip styles------*/

.tipsy { padding: 5px; margin: -5px 0 -5px 0; font-size: 10px; opacity: 0.9; filter: alpha(opacity=90); background-repeat: no-repeat;  background-image: url(images/tipsy.png); position: relative; z-index: 100000;}
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #3b3b3b; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }

/*----  Tooltip styles end here ----*/


/*  ========= FOOTER STYLES END HERE =========  */




/* Button color styles 
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);

}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);

}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);

}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);

}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);

}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);

}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);

}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);

}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);

}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);

}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);

}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);

}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);

}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);

}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);

}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);

}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);

}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);

}

/* rosy */
.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);

}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);

}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);

}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);

}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);

}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);

}

/* pink */
.pink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);

}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);

}
.pink:active {
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);

}

/* ============= SHORTCODES ================= */

.one_third
{width: 200px;
float: left;
margin: 0 30px 0 0;}


.one_third_last
{width: 200px;
float: left;
margin: 0;}

.two_thirds 
{width: 420px;
float: left;}


.two_thirds_last
{width: 440px;
float: left;
margin: 0;}

.one_half
{width: 310px;
float: left;
margin: 0 30px 0 0;
}

.one_half_last
{width: 320px;
float: left;
margin: 0 0 0 0;
}


.message_box
{position: relative;
width: 480px;
padding: 20px 30px 10px 30px;	
z-index: 99;
margin: 30px 0 30px 70px;
-webkit-border-radius:  5px ;
-moz-border-radius: 5px ;
border-radius: 5px;}

.message_box_sign
{position: absolute;
top: -20px;
left: -20px;
z-index: 999;
display: block;
width: 48px;
height: 48px;
text-indent: -9999px;}

.info_box
{border: 2px solid #32ace3;
background: #191919;
}


.info_box_sign
{background:  url(images/info_box.png) no-repeat top left;
}


.warning_box
{border: 2px solid #fdc402;
background: #191919;
}

.warning_box_sign
{background:  url(images/warning_box.png) no-repeat top left;
}


.error_box
{border: 2px solid #ef4328;
background: #191919;
}

.error_box_sign
{background:  url(images/error_box.png) no-repeat top left;
}

.download_box
{border: 2px solid #70bf39;
background: #191919;
}

.download_box_sign
{background:  url(images/download_box.png) no-repeat top left;
}

/****************For Top content gallery page *********************/
#content_gallery_top .img_floated_left
{float: left;
margin: 5px 20px 10px 0;
border: none;}

#content_gallery_top .img_floated_right
{float: right;
margin: 5px 0 10px 20px;
border: none;}

#content_gallery_top p {margin-bottom: 20px;}

#content_gallery_top ul,  #content ol {
 margin: -10px 0 20px 60px;
}
#content_gallery_top ul li li {
 margin-left: -35px;
}
#content_gallery_top ul ul {
 margin-top: 5px;
}
#content_gallery_top ul li {
 margin-top: 5px;
}
#content_gallery_top ul.no_bullets, #content ol.no_bullets
{list-style: none;}
#content_gallery_top ul.floated_left
{margin: 20px 0;overflow: hidden;} 

#content_gallery_top ul.floated_left li
{float: left;
margin: 10px;
display: inline;
}

/****************End For Top content gallery page *********************/



/* ---------------- PORTFOLIO STYLES ------------ */

#gallery_prettyphoto.portfolio
{padding: 0 0 20px 0;
overflow: hidden;
}

#gallery_prettyphoto.portfolio ul li
{
display: inline-block;
height: 400px;
margin-bottom:35px;

}

#gallery_prettyphoto.portfolio ul li a img
{border: none;}

#gallery_prettyphoto.portfolio ul li h3 a
{text-decoration: none;}

 #gallery_prettyphoto.portfolio ul li p
 {margin: 10px 0 15px 0;}
 
 #gallery_prettyphoto.portfolio ul li a.more-link
 {-moz-border-radius: 3px; /* FF1-3.6 */
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
   border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
border: 1px solid #2C2C2C;
background: #111111;
text-align: center;
padding: 3px 10px;
width: 80px;
display: block;
color: white;
text-decoration: none;}

 #gallery_prettyphoto.portfolio ul li a.more-link:hover
 {background: #222222;}
 
#gallery_prettyphoto.portfolio a span
{
z-index: 2000;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
cursor: pointer;
}

.portfolio .gallery_2columns a 
{position: relative;
display: block;}

.portfolio .gallery_3columns a 
{position: relative;
display: block;}

.portfolio .gallery_2columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_big.png) no-repeat center center;
}


.portfolio .gallery_2columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_big.png) no-repeat center center;
}

.portfolio .gallery_3columns a span.image_hover
{background: black url(images/gallery_hover/hover_image_medium.png) no-repeat center center;
}

.portfolio .gallery_3columns a span.video_hover
{background: black url(images/gallery_hover/hover_video_medium.png) no-repeat center center;
}





