/* CSS Document */

/* =============================================================== */
/* == Resuable Classes =========================================== */
/* =============================================================== */

/* == Clearfix ==================== */

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; *zoom:1;}
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }	
.hide { display:none; }
.show { display:block; visibility:visible!important; opacity:1!important; }

/* == AJAX loading icon ==================== */

.ajax_loading_icon { background:url(i/89.gif); width:16px; height:16px; display:block; visibility:hidden; opacity:0; }

/* == Notfication for panel ==================== */

.error { border:1px solid #F00!important; }

.success_message { background:#48a51a; padding:5px 10px; border:1px solid #20490c; margin:15px 15px 0 15px; width:787px; opacity:0; visibility:hidden; }
.success_message p { color:#fff; text-align:center;  }
.success_message a { color:#fff; font-weight:900; }

.hades_information { -webkit-border-radius: 3px; -moz-border-radius: 3px; display:block; padding:7px 10px;  color:#333; background: #FFFFE0; line-height: 14px;letter-spacing: 0; border: 1px solid #E6DB55;font-size: 11px;margin:10px; }
.hades_information p , .hades_information a { color:#333; font-weight: bold;   }
.hades_information a { font-size:11px; font-weight:900; margin:0 4px!important; padding:0!important; }
/* == Layout for Panels ==================== */

.hades_wrap { width:787px; margin:15px; position:relative; font-family: 'PT Sans' Arial, Helvetica, Sans-Serif; letter-spacing: 0px!important;}

/* == WP Admin widget panel overriding ======================= */

.widget_text { width:130px; float:left; }
.hades-custom .button { float:left; }
.hades-custom { display:block; }

.hades-primary-button  { float: right!important;font-weight: bold;color: #fff!important;background: #21759B !important;text-shadow: 1px 1px 1px #1c5976;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 5px 15px 6px; border: 1px solid #1c5976!important;margin: 20px 20px 10px 10px;cursor: pointer;}

/* == Misc Stylings  ==*/

.notice-bar { padding:0px; margin:0 0 10px 0; height:20px; width:190px;  }
.notice-bar p { margin:0; padding:4px 10px;  color:#444; font-size:12px; font-weight:900;   }
/* =============================================================== */
/* == Font Manager Styling ======================================= */
/* =============================================================== */

.fontmanager {padding: 15px; -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2) inset; -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2) inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #d9d9d9; background: rgba(0,0,0, .05); width: 787px;}

.fontmanager .hades-panel{ -webkit-border-radius: 3px; -moz-border-radius: 3px;-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2); background: #fff; border: none;}

.fontmanager .hades-panel-body {border: none;}

.upload-area { display:block; padding:6px 2px;  background:#eee; border:1px solid #ddd; margin: 10px; letter-spacing: 0px!important;}
.upload-area label { margin:10px 2px 6px 9px; float:left; width:130px; color:#333; font-weight: 900; font-size:12px; padding:26px 5px 6px 20px; line-height: 26px;}
.upload-area .uploadify { float:left; margin:7px 4px 10px 10px; }
.upload-area input  {  float:left; margin:17px 4px 10px 0px; padding:7px; }
.upload-area .add-sidebar-button{ 	text-decoration:none; display:block;font-weight: bold;color: #444;background: #fff ;text-shadow: 1px 1px 1px #fff;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px;padding: 5px 15px  6px;border: 1px solid #ddd!important; margin-top: 13px; cursor: pointer;}

.uploaded-fonts { margin:20px; }
.uploaded-fonts p { background: url(i/widget-bg-slice.jpg) repeat-x; border:1px solid #d4d7de; width:210px;  position:relative; padding:7px; margin:-1px 0 0 0 !important; display:block;  }
.uploaded-fonts p span {   }
.uploaded-fonts a.delete { background:url(i/delete.png) no-repeat; display:block; width:16px; height:16px; position:absolute; top:-12px; right:-12px; }

/* =============================================================== */
/* == Form Builder Styling ======================================= */
/* =============================================================== */

.formbuilder {padding: 15px; -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2) inset; -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2) inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #d9d9d9; background: rgba(0,0,0, .05); width: 787px;}

.formbuilder .hades-panel{ -webkit-border-radius: 3px; -moz-border-radius: 3px;-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2); background: #fff; border: none;}

.formbuilder .form-options{ background: #fff; border-bottom: none;}
.formbuilder select#form-builder{ width: 200px;}
.form-options span { font-size: 13px!important; letter-spacing: 0px!important; margin-left: 15px; margin-right: 5px;}

.formbuilder input.builder-admin-button { float: right!important;font-weight: bold!important;color: #fff!important;background: #21759B !important;text-shadow: 1px 1px 1px #1c5976;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px;  border: 1px solid #1c5976!important;cursor: pointer!important;text-indent: 0px;width: 112px; height: 27px;}

.formbuilder input.button-edit {cursor: pointer;width: 60px;height: 27px;background: #fafafa ;text-shadow: 1px 1px 1px #fff;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; -moz-border-radius: 2px;font-weight: bold;letter-spacing: 0px;color: #444;border: 1px solid #ddd!important;text-decoration: none!important;text-transform: none!important;}

.formbuilder p.info-text a {margin: 0 2px 0 0;}
.formbuilder .hades-panel label {margin: 0; font-size: 12px; font-weight: normal;letter-spacing: 0px;line-height: 2px;}

/* =============================================================== */
/* == Sidebar Manager Styling ==================================== */
/* =============================================================== */

.sidebarmanager {padding: 15px; -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2) inset; -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2) inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #d9d9d9; background: rgba(0,0,0, .05); width: 787px;}

.sidebarmanager .hades-panel{ -webkit-border-radius: 3px; -moz-border-radius: 3px;-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2); background: #fff; border: none;}

.sidebarmanager input#sidebar_name {-webkit-box-shadow: 0px 1px 1px #aaa inset; -moz-box-shadow: 0px 1px 1px #aaa inset; border: 3px solid #f3f3f3;  text-align:left; width:280px; display:block; float:left;  color: #999; font-size: 11px; padding:6px 5px; margin-top: 10px;}

.sidebarmanager .active-sidebars li.sidebar-holder , .sidebarmanager .inactive-sidebars li.sidebar-holder{ background:#fafafa; border:1px dashed #ccc; width:250px;  padding:8px; height:15px; }

.sidebarmanager .active-sidebars li , .inactive-sidebars li{ background: url(i/button-sprite.png) repeat-x #21759B; border:1px solid #1c5976; width:250px;  position:relative; padding:8px; margin:-1px 0 5px 0 !important; display:block;  border-radius:2px; -moz-border-radius:2px; color: #fff;  cursor:move; }

.sidebarmanager .active-sidebars a.delete , .inactive-sidebars a.delete{ background:url(i/delete.png) no-repeat; display:block; width:16px; height:16px; position:absolute; top:-12px; right:-12px; }
.manage-sidebars { padding:10px; background:#fff; }
.active-sidebars , .inactive-sidebars{ border:1px dotted #ccc; padding:10px; width:260px; margin-bottom: 30px;}
.sidebarmanager .active-wrapper { float:left;margin-top:10px; margin-left:20px; }
.sidebarmanager .active-wrapper h4{ border-bottom: 1px solid #ccc; padding-bottom: 5px;letter-spacing: -1px;}
.sidebarmanager .inactive-wrapper { float:right; margin-top:10px; margin-right:20px; }
.sidebarmanager .inactive-wrapper h4{ border-bottom: 1px solid #ccc; padding-bottom: 5px;letter-spacing: -1px;}

/* =============================================================== */
/* == Backgend Mega Menu Styling ================================= */
/* =============================================================== */

.h-megamenu .admin-button { margin:4px 0px 6px 0px; padding:4px 8px; }
.h-megamenu p label { float:left; width:120px; }
.h-megamenu p input[type=checkbox] { float:left; }

.h_megamenu_box  input[type=checkbox] { margin:10px; float:left; }
.h_megamenu_box   select { float:left; margin-top:7px; margin-left:10px; }
.h_megamenu_box   select  { padding:5px; }
.h_megamenu_box label { float:left; margin-top:8px; }

.item-type-h-column , .item-type-h-widget , .item-type-hmenu , .h_megamenu_row_box { display:none; } 
.hmenu_info { font-size:10px; font-style:inherit; color:#333333; display:block; margin:2px; background:#eee; }
.textbox { width:90%; }

/* ============================================================ */
/* == Global Input Elements Stylings ========================== */
/* ============================================================ */

.hades_input { margin:2px 0px 2px 0px; padding:10px 0px 20px;  position:relative; font-size: 11px; color: #999;}
.hades_radio { float:left; width:280px; }
.hades_input h6 { float:left; margin:5px 5px 5px 0px; font-size: 10px;}
.hades_input strong { color:#111; text-decoration:underline; }
.custom-block { clear:left!important; padding:10px; }  

.preview-font { background:#fff; border:1px solid #ccc; padding:20px!important; margin:15px -10px 15px 0px!important; overflow:auto;-webkit-box-shadow: 0px 1px 1px #aaa inset; -moz-box-shadow: 0px 1px 1px #aaa inset; }

/* == Global label behavior ============================ */

.hades_input label { display:block; text-shadow:0px 1px 1px #fff; padding:0px 13px 5px 0; color:#333; float:left; width:180px; margin-top:5px; font-size: 13px; font-weight: 600;}

/* == Select behavior ================================= */

.hades_input select {  text-align:left; width:260px; display:block; float:left;    }
.hades_input select option {  color: #333; font-size: 11px; padding:8px 5px 8px 5px;  }
/* == Textbox behavior ================================= */

.hades_input input[type=text]  { -webkit-box-shadow: 0px 1px 1px #aaa inset; -moz-box-shadow: 0px 1px 1px #aaa inset; border: 3px solid #f3f3f3;  text-align:left; width:280px; display:block; float:left;  color: #999; font-size: 11px; padding:6px 5px;}

.hades_input input[type=text]:focus { background: #fff; border: 3px solid #dddddd; outline:0;}

/* == Textarea behavior ================================ */

.hades_input textarea { -webkit-box-shadow: 0px 1px 1px #aaa inset; -moz-box-shadow: 0px 1px 1px #aaa inset; border: 3px solid #f3f3f3;  text-align:left; width:280px; display:block; float:left;  color: #999; font-size: 11px; padding:6px 5px;height: 200px; }

.hades_input textarea:focus { background: #fff; border: 3px solid #dddddd; outline:0;}

/* == Upload behavior ================================ */

.hades_image_upload input[type=text]{ width:180px;font-size: 11px;color: #999; }
.hades_input .custom_upload_image_button { float:left; margin:2px 3px 1px 5px; }


/* =============================================================== */
/* == Multi Image Upload Widget ================================== */
/* =============================================================== */


#hades_gallery {   -webkit-border-radius: 3px; -moz-border-radius: 3px;-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .2); background: #fff; margin:0; }
#hades_gallery .toppanel { height:45px ;  position:relative; z-index:2;   border-bottom:1px solid #cfcfcf;}

#addslide { margin:8px 0px 2px 10px; float:left; font-weight: bold;color: #fff;background: #21759B !important;text-shadow: 1px 1px 1px #1c5976;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 6px 15px  5px; border: 1px solid #1c5976!important;} 
#hades_gallery .slide-head { height:43px; background:#ffffff; border-bottom:1px solid #cecece; }
#hades_gallery .slider-lists { margin:0; padding:0; }
#hades_gallery .slider-lists ul li { margin:0; padding:0; }

#hades_gallery .delete-slide-button { background: #B84610; color:#fff; text-transform:none; font-weight:900; text-decoration:none; padding: 2px 10px 4px; float:right; border:1px solid #973b0f; border-radius:2px; -moz-border-radius:2px; margin:10px 10px 0px 0px; text-align:center; text-shadow: 1px 1px 1px #973b0f;}
#hades_gallery a.delete-slide-button:hover { color:#fff; -moz-box-shadow:0px 0px 4px #c01737; }

#hades_gallery .min-slide-button , #hades_gallery .max-slide-button  { font-weight: bold;color: #444;background: #fafafa !important;text-shadow: 1px 1px 1px #fff;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 3px 10px 4px; border: 1px solid #ddd!important;margin-top: 10px; margin-right: 15px;float:right; text-decoration: none;}


#hades_gallery .info-panel { border-bottom:1px solid #e4e4e4; }
#hades_gallery .separator { border-bottom:1px solid #e4e4e4; padding:10px 10px; }
#hades_gallery .lseparator { padding:10px; }
#hades_gallery .separator label , .separator input[type=text] , .separator input[type=file] , .lseparator label , .lseparator textarea { float:left; padding:4px 5px; }
#hades_gallery .separator label , .lseparator label { margin-top:4px; width:180px; }
#hades_gallery .lseparator textarea  , .separator input[type=text]{ width:400px; padding: 6px;margin-top: 2px; }
#hades_gallery textarea { height:200px; width:400px; }
#hades_gallery .drag-highlight { height:43px; background:#f4f4f4; border:1px dashed #111; border-radius:4px; -moz-border-radius:4px; }
.custom_upload_image_button { float:left; margin:1px 0px 0px 5px;  }
#hades_gallery .slide-hide { display:none; }
#GalleryType select { width:250px; }

/* =============================================================== */
/* == Panel Basic Design ========================================= */
/* =============================================================== */

.hades-panel { background:#eee; border:1px solid #ddd; padding:6px; border-bottom: none;}
.hades-panel label , .hades-panel input,  .hades-panel a { float:left; }
.hades-panel label { margin-top:4px; padding:5px 10px 5px 5px; font-size: 14px; font-weight: 600; }
.hades-panel input[type=text] { border:1px solid #ddd; padding:5px; margin-top:3px; width:180px; }
.hades-panel a { margin:4px 5px 0 5px; }  
.h-custom-post { display:none; }
.custom-post .hades_input label {margin-left: 10px;width: 150px;}
.custom-post .hades_input[type=text] { width: 200px!important; }
.custom-post .hades_input small span { -webkit-border-radius: 3px; -moz-border-radius: 3px; width:235px; display:block; padding:7px 10px;  color:#333; background: #FFFFE0;  margin-top:0px; line-height: 14px;letter-spacing: 0; border: 1px solid #E6DB55;font-size: 11px;}
.hades-panel a { margin:4px 5px 0 5px; }
.hades-panel-body ul , .hades-panel-body li { padding:0; margin:0; } 
.hades-panel-body h4.heading { background:#e4e4e4; border-bottom:1px solid #ddd; padding:10px; margin:0; cursor:pointer;  }
.hades-panel-body h4.heading .delete { float:right; }
.hades-panel-body .hades_input { margin:4px; padding:0; }
.hades-panel-body { background:#fff; border:1px solid #eee; }

/* =============================================================== */
/* == ~~ Layout Details ~~ MetaBox =============================== */
/* =============================================================== */

.hades-layout {  }
#supersidebars ul li { float:left; }
#supersidebars ul li input { margin-left:30px; }
#supersidebars ul li.full label { background:url(i/layout-sprites.jpg) 0px 0px no-repeat; width:80px; height:80px; display:block; }
#supersidebars ul li.left-sidebar label { background:url(i/layout-sprites.jpg) -100px 0px  no-repeat; width:80px; height:80px; display:block; }
#supersidebars ul li.right-sidebar label { background:url(i/layout-sprites.jpg) -200px 0px no-repeat; width:80px; height:80px; display:block; }
#supersidebars ul li.right-left-sidebars label { background:url(i/layout-sprites.jpg) -300px 0px no-repeat; width:80px; height:80px; display:block; }
#supersidebars ul li.right-2-sidebars label { background:url(i/layout-sprites.jpg) -400px 0px no-repeat; width:80px; height:80px; display:block; }
#supersidebars ul li.left-2-sidebars label { background:url(i/layout-sprites.jpg) -500px 0px no-repeat; width:80px; height:80px; display:block; }

/* =============================================================== */
/* == Slider Manager Basic Design ================================ */
/* =============================================================== */

.hades-panel-body {font-family: 'PT Sans' Arial, Helvetica, Sans-Serif;letter-spacing: 0px;}

.hades-panel-body ul.custom-list .heading{display:block; clear:left!important; padding:15px; background:#fafafa; border:none; margin-left: -1px; border-right: 1px solid #ddd; border-left: 1px solid #ddd;margin-right: -1px;border-bottom: 1px solid #ddd; line-height: 35px; margin-top: -1px;}

.hades-panel-body ul.custom-list .heading:first-child{border-top: 1px solid #ddd;}
.hades-panel-body ul.custom-list .slide-body{padding: 15px;	}
.hades-panel-body ul.custom-list .sub-panel .slide-body{padding: 15px;background:#fff;border-right: 1px solid #ddd; border-left: 1px solid #ddd;margin-right: -1px;margin-left: -1px;	}
.hades-panel-body ul.custom-list .hades_input{margin-bottom: 15px;	}
.hades-panel-body ul.custom-list .hades_input{border-bottom:1px solid #eee; padding-bottom: 15px;	}

.sub-panel {  background:#fff;  }
.sub-panel a { float:left; }
.slide-list li { background:#fff; }
.slide-list li .heading , .custom-list .heading { background:#ddd; padding:10px!importnat; cursor:pointer; border:1px solid #ccc; }
.slide-list li .delete , .custom-list .delete { float:right;font-weight: bold;color: #fff;background: #B84610 ;text-shadow: 1px 1px 1px #973b0f;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 6px 15px  5px; border: 1px solid #973b0f!important; }
.slide-list li .delete , .custom-list .delete:hover { color: #fff; zoom: 1; filter: alpha(opacity=90); opacity: 0.9;}
.slide-list li .heading h4  , .custom-list .heading h4 { margin:0; padding:0; font-size: 13px;}

.hades-panel-body .add-slide { margin-bottom:20px; margin-top: 30px;font-weight: bold;color: #fff;background: #21759B !important;text-shadow: 1px 1px 1px #1c5976;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 6px 15px  5px; border: 1px solid #1c5976!important;}
.hades-panel-body .add-slide:hover { cursor: pointer;color: #fff;zoom: 1; filter: alpha(opacity=90); opacity: 0.9;}

.hades-panel input.button-save { font-weight: bold;color: #fff;background: #21759B !important;text-shadow: 1px 1px 1px #1c5976;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 4px 15px 5px; border: 1px solid #1c5976!important;margin-top: 2px;}
.hades-panel input.button-save:hover { cursor: pointer;color: #fff; zoom: 1; filter: alpha(opacity=90); opacity: 0.9; }

.hades-panel-body a.button.createsingle { float: right;font-weight: bold;color: #fff;background: #21759B !important;text-shadow: 1px 1px 1px #1c5976;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 4px 15px 5px; border: 1px solid #1c5976!important;margin-right: 10px;}

.hades-panel-body a.button.deletepost { float: right;font-weight: bold;color: #fff;background: #B84610 ;text-shadow: 1px 1px 1px #973b0f;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 4px 15px  5px; border: 1px solid #973b0f!important; }

.hades-panel-body a.button.delete-slide { float: right;font-weight: bold;color: #fff;background: #B84610 ;text-shadow: 1px 1px 1px #973b0f;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 4px 15px  5px; border: 1px solid #973b0f!important; }

.hades-panel #create_slider, .hades-panel #create_post { font-weight: bold;color: #444;background: #fafafa !important;text-shadow: 1px 1px 1px #fff;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 5px 15px; border: 1px solid #ddd!important;margin-top: 2px;}
.hades-panel #create_slider:hover, .hades-panel #create_post:hover { cursor: pointer;color: #444;background: #fff!important;}

.hades-panel-body h4.heading { font-size: 13px;}

.slide-body .custom_upload_image_button { font-weight: bold;color: #444;background: #fafafa !important;text-shadow: 1px 1px 1px #fff;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-border-radius: 2px; padding: 6px 15px; border: 1px solid #ddd!important;margin-top: 2px;}

/* =============================================================== */
/* == Lightbox Shortcodes Widget ================================= */
/* =============================================================== */

.no-border { border:none!important; }
.force-show { display:block!important; }
.shortcode-wrapper {background: none!important; }
.shortcode-wrapper { }
.shortcode-wrapper .top-panel{ background: none!important;  }
.shortcode-wrapper .top-panel .button { margin:11px 0px 10px 5px; }
.shortcode-wrapper .top-panel select , .shortcode-wrapper .top-panel label , .shortcode-wrapper .top-panel a { float:left;  }
.shortcode-wrapper>div { background: #eee!important;}
.shortcode-wrapper .hades_input { background:none!important; margin:0!important; padding-bottom:10px!important; }
.shortcode-wrapper .top-panel select {font-size: 11px!important; color: #777; margin-top:10px; }
.shortcode-wrapper .top-panel label { margin-top:13px; margin-right:5px; }
.shortcode-wrapper .top-panel .add-button { display: inline-block;background:url(i/add-shortcode.png) no-repeat!important; cursor:pointer; width: 129px!important;  height: 50px!important;text-indent: -9999px!important;border: none; margin-top:2px;}
.shortcode-wrapper .top-panel .done-button {display: inline-block; background:url(i/done-shortcode.png) no-repeat!important; cursor:pointer; width: 94px!important;  height: 50px!important;text-indent: -9999px!important;border: none;}
.preview-panel { float:right;  }
.preview-panel span { float:left; margin-right:5px; margin-top:7px; }
.preview-panel a{ display: float:left; height:26px!important; padding:10px 25px 0px 25px!important; font-size:14px!important; font-weight:700!important;  text-transform:uppercase!important; text-decoration:none; color:#fff; border:1px solid transparent;  }
.preview-panel a.shade {   background: url(../../sprites/i/s/button-sprite.png) repeat-x;}
.preview-panel p{ line-height: 20px!important; color: #777!important;}


/* =============================================================== */
/* == Datepicker UI ============================================== */
/* =============================================================== */

.ui-datepicker { width: 16em; padding: .2em .2em 0; display: none; background:#fff; border:1px solid #eee;  }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; background:#eee; border:1px solid #ddd; border-radius:4px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; color:#555; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }


/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 160px; /*must have*/
    height: 160px; /*must have*/
}