/* CSS Document */

/* ================================================================================== */
/* == CSS RESET & HTML5 Support ===================================================== */
/* ================================================================================== */
.ui-helper-clearfix:after , .clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.ui-helper-clearfix , .clearfix{ display:inline-block; zoom:1; }
* html .clearfix , * html .ui-helper-clearfix{ height:1%; }
.hide { display:none; }
.clearfix , .ui-helper-clearfix { display:block; }
.clearleft { clear:left!important; } 
.clearright { clear:right!important; }

/* ================================================================================== */
/* ==  HTML5 element display ======================================================== */
/* ================================================================================== */


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* ================================================================================== */
/* ==  RESET ======================================================================== */
/* ================================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

article,aside,figure,footer,header,hgroup,nav,section {
display:block;
}

ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
color:#111;
text-decoration:none;
}

ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:700;
}

del {
text-decoration:line-through;
}

abbr[title],dfn[title] {
border-bottom:1px dotted #000;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}

input,select {
vertical-align:middle;
}

input[type=submit] {
outline:none;
border:none;
}

input:focus,textarea:focus {
outline:none;
}

table th { padding:6px 14px; border-bottom:1px solid #ccc; }
table td { padding:6px 14px; border-bottom:1px solid #eee;  }

strong{color: #444;}

/* ================================================================================== */
/* == Reusable Classes ============================================================== */
/* ================================================================================== */

.left {
float:left;
margin:10px 5px;
}

.right {
float:right;
margin:10px 5px;
}



/* ================================================================================== */
/* == Base Styling ================================================================== */
/* ================================================================================== */

select { background-color:transparent; }
html {  overflow-x:hidden; }

a:link { }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:hover,a:active { outline:none; }

.content ol,.content ul {margin-bottom: 20px;margin-top: 15px;}
.content ol {
display:block;
padding-left:0px;
padding-top:10px;
padding-bottom:15px;
}

.content ol li { padding-left:10px; }

.content ol li,.content ul ol li { list-style-type:decimal; }

.content ul li { list-style-type:disc; }
.content ul ul li { list-style-type:circle; }
.content ul ul ul li { list-style-type:square; }

.content ol ol li { list-style-type:lower-alpha; }
.content ol ol ol li { list-style-type:lower-roman; }

.content dd { 
padding-left:20px;
margin-top:.5em;
}

.content li {
margin-left:30px;
}


.content table {
margin-right:30px;
margin-left:30px;
}

hr {
margin-right:30px;
margin-left:30px;
border-style:inset;
border-width:1px;
}

.content form { display:block; }
.content input[type=text]  { display:block; border:1px solid #ddd; }
.content label { display:block; }
.content select ,  .content input[type=radio] ,  .content input[type=checkbox] ,   .content input[type=select] { display:block; }
.content input[type=submit] { background:url(i/s/button-sprite.png) repeat-x #ffffff; display:block; padding:5px 10px; border:1px solid #dddddd; }

/* =================================================================================== */
/* == Wordpress Visual Editor Styles ================================================= */
/* =================================================================================== */
.entry-content img {
margin:0 0 1.5em;
}

.alignleft,img.alignleft {
margin-right:2.5em;
margin-top: 1em;
display:inline;
float:left;
}

.alignright,img.alignright {
margin-left:2.5em;
margin-top: 2em;
margin-bottom: 2.5em;
display:inline;
float:right;
}

.aligncenter,img.aligncenter {
margin-right:auto;
margin-left:auto;
display:block;
clear:both;
}

.alignnone,img.alignnone {
}

.wp-caption {
margin-bottom:1.5em;
text-align:center;
padding-top:5px;
}

.wp-caption img {
border:0 none;
padding:0;
margin:0;
}

.wp-caption p.wp-caption-text {
line-height:1.5;
font-size:10px;
margin:0;
}

.wp-smiley {
margin:0!important;
max-height:1em;
}

blockquote.left {
margin-right:20px;
text-align:right;
margin-left:0;
width:33%;
float:left;
}

blockquote.right {
margin-left:20px;
text-align:left;
margin-right:0;
width:33%;
float:right;
}

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* == Theme base styleings ================================== */

a.imageholder {  display:block; position:relative;  padding:0;  }
a.imageholder img {  margin:0 auto!important; display:block;-webkit-box-shadow:0px 1px 2px #aaa;-moz-box-shadow:0px 1px 2px #aaa;box-shadow:0px 1px 2px #aaa;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.theme-style-wrapper { }
.lightbox { position:relative; }

.hover-image { background:url(i/trans-hover-bg.png); position:absolute; top:0; left:0; z-index:2; width:100%; height:100%; display:none; }
.hover-image small { background:url(i/image-hover.png); display:block; width:39px; height:32px; position:absolute;  right:10px; bottom:10px;  }

/* =================================================================================== */
/* == Sliders Styling ================================================================ */
/* =================================================================================== */
.homepage-slider .kwicks-wrapper  {  padding-bottom:57px; background:url(i/stage-shadowt.png) bottom center no-repeat!important; box-shadow:none!important; margin-bottom:-35px!important; }
.homepage-slider .scrollable {  padding-bottom:57px; background:url(i/stage-shadowt.png) bottom center no-repeat!important; box-shadow:none!important; margin-bottom:-35px!important;  }
.homepage-slider .scrollable .arrow-set  { position:static!important; }
.homepage-slider .scrollable .prev { width:20px; height:20px; bottom:50px; left:5px; position:absolute; z-index:99; font-size:18px; text-align:center; padding:2px 14px 8px 14px;margin: 1px;color: #fff; background:#444 url(../sprites/i/title-item-bg.png) repeat-x;border:1px solid #222;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;text-shadow: 1px 1px 1px #333; font-weight: 600 }
.homepage-slider .scrollable .next { width:20px; height:20px; bottom:50px; right:5px; position:absolute; z-index:99; font-size:18px; text-align:center; padding:2px 14px 8px 14px;margin: 1px;color: #fff; background:#444 url(../sprites/i/title-item-bg.png) repeat-x;border:1px solid #222;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;text-shadow: 1px 1px 1px #333; font-weight: 600 }

.titan_slider {  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black; margin:10px; }

/* == Scrollable Settings ====================================== */

.scrollable-wrapper { position:relative; }
.scrollable { position:relative; width:400px; height:250px; overflow:hidden; margin-top: 30px; }
.scrollable .items {
	/* this cannot be too large */
	width:20000em!important;
	position:absolute;
	top:0; left:0;
}
 .scrollable .items>a ,    .scrollable .items>li ,    .scrollable .items>div{ list-style:none; margin:0; padding:0; display:block; float:left!important; position:relative; box-shadow:none; -moz-box-shadow:none; }
 
 .scrollable .items a img {  margin:0; padding:0; box-shadow:none; -moz-box-shadow:none; }
.scrollable .arrow-set { position:absolute; top:0px; left:0; z-index:99; } 
.scrollable .desc { display:block;  position:absolute; bottom:50px; right:0px; width:60%;  margin:0; background: url(i/trans-hover-bg.png); color:#fff; }

/* == Arrow Set ====================================== */

.arrow-set { z-index:9; position:absolute; bottom:0; left:0; }
.arrow-set a { float:left; padding:5px 9px; background:#333; color:#fff; margin:1px; }

/* == Accordion Settings ====================================== */

.kwicks {  
    list-style: none;  
    position: relative;  
    margin: 0px;  
    padding: 0;  
	overflow:hidden;
	
}  
.kwicks li{  
    display: block;  
    overflow: hidden;  
    padding: 0!important;  
    cursor: pointer;  
	position:relative;
	float: left;  
    margin: 0px;  
	box-shadow:-10px 0px 20px #111;
}  

/* == Quickie Slider Settings ====================================== */

.fadeslider , .quartzslider { overflow:hidden; }

.qSlider , .quartz , .KBSlider {  overflow:visible; position:relative; padding-bottom:57px; background:url(i/stage-shadowt.png) bottom center no-repeat!important; box-shadow:none!important; margin-bottom:-15px!important;  }

.qSlider ul.mainslider , .quartz ul.mainslider , .KBSlider ul.mainslider { margin:0!important; padding:0!important; list-style:none; position:relative; overflow:hidden; display:block;  border:none; }
.qSlider ul.mainslider li  , .quartz ul.mainslider li , .KBSlider ul.mainslider li  {  position:absolute; top:0; left:0; border:none;  
margin:0!important; padding:0!important; display:block; }
.qSlider ul.mainslider li>a , .quartz  ul.mainslider li>a  , .KBSlider   ul.mainslider li>a , .kwicks li a{ display:block;  margin:0!important; padding:0!important; outline:none; border:none; text-decoration:none;  }
.qSlider ul.mainslider li>a img , .quartz ul.mainslider li>a img , .KBSlider ul.mainslider li>a img , .kwicks li img { margin:0!important; padding:0;!important display:block; }
.KBSlider ul.mainslider li>a img { position:absolute; top:0; left:0; }
.reset { z-index:1; }
.active { z-index:5; }

.controls { position:absolute; bottom:0px; padding:5px 8px; left:0; z-index:999;   }
.controls li { position:relative; z-index:999; cursor:pointer; display:block; width:18px!important; height:18px!important; background:url(i/default.png) no-repeat!important; float:left; margin:0px 2px; text-indent:-9999px; border:none!important; padding:0!important; }
.controls li.control_active { background:url(i/active.png) no-repeat!important; }

.desc { padding: 20px;display:none; position:absolute; bottom:30px; right:0; width:60%;  margin:0; background: url(i/trans-hover-bg.png); color:#fff; }
.desc h2 { margin:4px 7px; padding:0; font-size: 18px; color:#fff!important; }
.desc p { margin:5px 7px; line-height: 18px; }


.piecemaker-wrapper { margin-top:-20px!important; /* padding-bottom:20px; background:url(i/stage-shadowt.png) bottom center no-repeat; margin-bottom:-15px!important; */  } 

/* == Grid Wall =========================

/* Thumbnail Effects Style */
.tj_container .desc {  top:0; left:0; width:85%; height:82%;  color: #aaa;}
.tj_container .desc h2{  line-height: 18px;}
.tj_container .desc h2 a:hover{  text-decoration: underline;}
.tj_container .desc a { margin-top: 10px;color:#fff;  }
.tj_container .desc a:hover{  text-decoration: underline;}
.tj_container{
	
	position:relative;
	margin:30px auto 0 auto;
}
.tj_nav{
	position:absolute;
	left:37%;
	bottom:-30px;
	background:url(k/grid-slide-bg.png) no-repeat top center;
	height:108px;
	width:170px;
	display:block;
	z-index:99;
	padding-left:80px;
}

.tj_nav span.tj_next{
	width:22px;
	height:26px;
	background:url(k/next.png) no-repeat top left;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
	margin:40px 10px 0 15px;
}
.tj_nav span.tj_next:hover { background:url(k/next-hover.png) no-repeat top left; }
.tj_nav span.tj_prev:hover { background:url(k/prev-hover.png) no-repeat top left; }


.tj_nav span.tj_prev{
	width:22px;
	height:26px;
	background:url(k/prev.png) no-repeat top left;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
	margin:40px 10px 0 10px;
}

.tj_nav span:hover{
	opacity:1.0;
}
.tj_wrapper{
	overflow:hidden;
	position:relative;
	margin:0px auto;
}
.tj_wrapper ul li{
	float:left;
}
.tj_wrapper ul li a{
	outline:none;
	display:block;
	margin:0px;
	padding:0;
	
}

.tj_wrapper ul li{
	float:left; margin:0!important; padding:0!important;
}
.tj_wrapper ul li a{
	outline:none;
	display:block;
	margin:0px!important;
	padding:0!important;
}

.tj_wrapper ul li a img { display:block; }
/* =================================================================================== */
/* == Posts Styling ================================================================== */
/* =================================================================================== */

.details {background: #444;padding:20px;text-align: center;color: #aaa;margin-top: 20px;}
.details a{color: #fff;}
.details a:hover{color: #E24608;}

.posts { padding:0; margin:-10px 0 0 0; list-style:none;  }
.posts li { margin:7px 0px 15px 0px; display:block; padding:4px 0 15px 0; position:relative; }
.posts li p{ margin:0px 0px 0px 2px; }
.posts li span.date { font-size:10px; color:#bbb; }
.posts li .imageholder { background:url(i/loader.gif) center center no-repeat; margin:0;  } 
.posts li .imageholder img { display:block; margin:0; padding:0; visibility:hidden; opacity:0; }
.posts li h2 { margin-top:10px; margin-left: 10px;padding:0; line-height:1.2; }
.posts li h2 a { font-size:21px; padding:0; margin:0; color: #444; }
.posts li h2 a:hover { text-decoration: underline; }
.posts li .description { position:relative;  }

.posts li .extras { background:url(../sprites/i/extra-border.png) no-repeat top left;  margin-top: 14px; padding: 0px 25px 0px 35px;text-decoration: none!important; width:150px; float:right; }
.posts li .extras li { background: transparent; padding:7px; margin:0; text-align:center; text-shadow: 1px 1px 1px #fff; color:#444; font-size:20px; font-family:"Dancing Script",Georgia, Serif;}
.posts li .extras li.date { font-weight: 600; padding-left: 20px!important; font-size: 18px; width: 120px;line-height: 24px}
.posts li .extras li.comment {font-weight: 600; padding-left: 10px!important;font-size: 26px;line-height: 24px;padding-bottom: 35px;}
.posts li .extras li.comment a { color:#E24608; }

ul.posts li.separator , div.separator{  width:100%!important; list-style:none; height:0px; margin:30px 0 30px!important; border-top:1px solid #eee; border-bottom:1px solid #fff; padding:0!important; float:none; background:none!important;   }
.posts li.separator a , div.separator a { font-size:9px; color:#777; float:right; display:block; margin-top:-7px; background:#fff; padding:0px 3px; }
.posts li .more-link { margin-top:10px; margin-left: 10px; font-size: 11px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;float: left;padding: 2px 10px;font-weight: 500;}
.grid-layout li h2  { line-height:0.9;   }

.two-third-width .grid-layout>ul>li { width:290px; float:left; margin:-6px 10px 10px 10px;   }


.two-third-width .grid-layout .description   p  , .two-third-width .grid-layout .description  h2 { width:260px!important;  }
.two-third-width .grid-layout .description   h2 { margin-bottom:10px; }
.two-third-width .grid-layout li a.imageholder { width:290px; margin:0; padding:0;  }
.two-third-width .grid-layout li a.imageholder img { display:block;  }
.two-third-width .grid-layout .extras { display:none; }

.blog-posts li .description {  }
.blog-posts li { background: #fafafa; }
.blog-posts .blog-info-wrapper { width: 410px; float:left;  }
.blog-posts li p {  margin:0px 0 0 10px; }

.blog-posts h2 { padding-right: 10px;  }
.blog-posts .more-link {  color: #fff; background:#E24608 url(../sprites/i/active-item-bg.png) repeat-x;border:1px solid #BF2706; box-shadow:0px 0px 3px #eee;text-shadow: 1px 1px 1px #BF2706; }

.blog-posts li:hover a.imageholder , .blog-posts li:hover a.imageholder img { box-shadow:none!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important; }
.blog-posts li:hover { background: #444; }
.blog-posts li:hover p {  margin:0px 0 0 10px; color: #aaa;}
.blog-posts li:hover h2 a{   color: #fff;}
.blog-posts li:hover .more-link {  color: #fff; background:#444 url(../sprites/i/nodate-item-bg.png) repeat-x;border: 1px solid #222;text-shadow: 1px 1px 1px #333;box-shadow:none;}
.blog-posts li:hover .more-link:hover { background:#333 url(../sprites/i/nodate-item-bg.png) repeat-x;}

.posts li:hover .extras { background:url(../sprites/i/extra-border-hover.png) no-repeat top left;  }
.posts li:hover .extras li { text-shadow: 1px 1px 1px #333; color:#aaa; }
.posts li:hover .extras li.date {  }
.posts li:hover .extras li.comment a { color:#fff; }

.post-title { padding: 15px 10px;color: #444;border-bottom: 1px solid #ddd; margin-bottom: 10px;margin-top: -25px;}
.post-title h1{ color: #444!important;font-size: 28px!important;}


 
 /* == Gallery =================================== */
 
.gallery-thumbnails a.imageholder { display:block; }
.gallery-thumbnails a.imageholder img { display:block; }

/* == Titan Gallery =================================== */
 
.titan_gallery {  width:960px; height:550px; background:#161616; margin:20px auto; position:relative;  }
.titan_gallery .titan_bottom_bar {  height:30px; width:960px; position:absolute; bottom:0; left:0; }

.gallery_prev { background:url(i/prev.png) no-repeat; width:17px; height:14px; float:left;  margin:13px 8px 0px 8px;}
.gallery_next { background:url(i/next.png) no-repeat; width:17px; height:14px; float:left; margin:10px 8px 0px 8px; }

.cprev { background:url(i/c-prev.png) no-repeat; width:17px; height:14px; float:left; margin:9px 8px 0px 17px; }
.cnext { background:url(i/c-next.png) no-repeat; width:17px; height:14px; float:left;   margin:9px 17px 0px 8px;}

.thumbnails-carousel { background:#121212; border-radius:3px; -moz-border-radius:3px; border-top:1px solid #000; height:26px; float:left; margin:2px 8px 0px 8px; width:766px;  padding-left:14px; position:relative; }
.cwrapper { overflow:hidden; }

.thumbnails-carousel .cwrapper img { width:17px; height:17px; display:block; opacity:0;  }
.thumbnails-carousel .cwrapper a { background:url(i/thumb_loader.gif) center center no-repeat; width:17px; height:17px; display:block;float:left; margin:3px 4px 0px 4px; padding:0; box-shadow:none; border:1px solid #000;  }
.thumbnails-carousel a:first-child {  }

.main_stage { position:relative; overflow:hidden;   }
.main_stage div.caption { background:url(i/trans-bg.png); padding:9px; position:absolute; bottom:0; left:0; z-index:2; }
.main_stage div.caption h4 { color:#fefefe; font-size:15px; font-weight:100; }
.main_stage div.caption p { font-size:11px; color:#fff; } 

.main_stage a { background:url(i/89.gif) center center no-repeat; display:block;   height:550px; padding:0; margin:0; border:none; box-shadow:none; }
.main_stage a img {  margin:0 auto;  display:block; opacity:0;  }

.medium_thumb {  position:absolute; width:100px; height:67px; bottom:28px;left:-23px; display:none; z-index:10; }
.medium_thumb  img { border:2px solid #111; display:block; position:absolute; bottom:-4px; left:0; }
.medium_thumb .tip { background:url(i/tip.png); width:14px; height:5px; position:absolute; left:44px; bottom:-9px; }
.galleria-errors { display:none; }

/* == Landscape mod ================================== */

.two-third-width .gallery-landscape  a.imageholder { margin:10px; }
.Landscape970x500  a.imageholder { background:url(i/loader.gif) center center no-repeat;  display:block; margin:20px 0;  }
.gallery-landscape  a.imageholder img { visibility:hidden; opacity:0; display:block; }


.Landscape450x300 a.imageholder { float:left; margin:15px 30px 15px 0; width:450px; height:300px; }
.Landscape300x200 a.imageholder { float:left; margin:10px 15px 10px 0; }

/* == Portrait mod ================================== */

.gallery-portrait  a.imageholder { background:url(i/loader.gif) center center no-repeat;  display:block; margin:10px 10px; float:left; }
.gallery-portrait  a.imageholder img { visibility:hidden; opacity:0; display:block; }


.Portrait520x440 {}


/* == PRE styling =================================== */

.syntaxhighlighter {  padding:4px 20px; border:none; box-shadow:none; border-radius:2px; -moz-border-radius:2px; display:block; } 
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: #fff !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

.syntaxhighlighter {
 background: #fff !important;
  width: 90% !important;
  margin: 1em 0 3em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important;
}
.syntaxhighlighter.source {
  overflow: hidden !important;
}
.syntaxhighlighter .bold {
  font-weight: bold !important;
}
.syntaxhighlighter .italic {
  font-style: italic !important;
}

.syntaxhighlighter div.line:nth-child(2n+1) { background:#fff!important; }
.syntaxhighlighter div.line { height:21px!important; padding:5px!important; }
.syntaxhighlighter .line {
  white-space: pre !important;
 
}
.toolbar { display:none!important; }
.syntaxhighlighter table {
  width: 100% !important;
}
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code {
  width: 100% !important;
}
.syntaxhighlighter table td.code .container {
  position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  
}
.syntaxhighlighter table td.code .line {
  
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}
.syntaxhighlighter.show {
  display: block !important;
}
.syntaxhighlighter.collapsed table {
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}
.syntaxhighlighter.printing .line .content {
  color: black !important;
}
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}

.syntaxhighlighter {
  background-color: white !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: white !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: white !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #e0e0e0 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: black !important;
}
.syntaxhighlighter table caption {
  color: black !important;
}
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #ddd !important; height: 20px;padding-right:3px!important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #6ce26c !important;
  color: white !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #6ce26c !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #6ce26c !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: black !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: black !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #008200 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: blue !important;
}
.syntaxhighlighter .keyword {
  color: #006699 !important;
}
.syntaxhighlighter .preprocessor {
  color: gray !important;
}
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter .constants {
  color: #0066cc !important;
}
.syntaxhighlighter .script {

  font-weight: bold !important;
  color: #006699 !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important;
}

.syntaxhighlighter .keyword {
  font-weight: bold !important;
}

/* == Home Editor based content styling ================= */

.home-editor-content { padding:10px 0; }

/* == Blog Styling ====================== */

.social-stuff { margin:0px; padding:10px; background:#eee; border:1px solid #ddd; }

#authorbox {  padding: 10px; background:#444; margin: 0px 0 20px; border-top: 1px solid #555;}
#authorbox .author-avatar {  float: left;  width: 110px; }
#authorbox .author-avatar img {   display: block;  padding: 5px;  margin:15px 10px 15px 10px;   }
#authorbox .authortext {  float: left;  width: 80%;  margin:10px 0 0 10px; padding-bottom: 20px; }
#authorbox .authortext p {  padding-right: 20px; margin-top: -5px;color: #aaa; }
#authorbox .authortext h3 { margin-left:0 px; margin-top:5px; color: #fff; }
#authorbox .authortext a {color: #fff; }
#authorbox .authortext a:hover { color: #E24608;text-decoration: underline; }

/* == Comments ========================= */

#comments {line-height: 1.8; }
.comment-info { position:relative; }
span.fn {margin-top: 5px; font-weight: bold; color: #444; margin-left: 2px;}
#comments ol  ,#comments ul { margin:0; padding:0; }
#comments ol li ,#comments ul li { list-style:none!important; margin:0; padding:0; }

#comments h3#comments-title { font-size:18px; margin:25px 5px 15px; padding:0 0 10px 0;  }

#comments .image-info {  clear:left; float:left; width:50px; margin:0px 20px 0 0; border-top:1px dotted #ccc; padding:25px 90px 15px 0;  }
#comments .image-info img { display:block;margin-top: 5px; }
#comments .image-info span { display:block;  }
#comments .logged-in-as a{color: #444;}
#comments .logged-in-as a:hover{color: #E24608;}
#comments .comment-body { border-top:1px solid #eee; padding:35px 10px 45px 0; float:left; width:455px;  }
#comments .comment-body p { margin:0; padding:0; }

#comments ol .children .comment-body { padding-left:25px; width:430px;  }
#comments ol .children .children .comment-body { padding-left:50px; width:405px;  }
#comments ol .children .children .children .comment-body { padding-left:75px; width:380px; }

#comments .line { border-top:1px dotted #ccc; height:1px; width:120px; display:block; position:absolute; top:45px; left:50px; }
#comments .children .line { width:120px; }
#comments .children .children .line { width:150px; }
#comments .children .children .children .line { width:170px; }

/* == Comment Form ====================== */

#respond { clear:right; }
#commentform { }
#comments_template form {  margin-top: 20px;  margin-left:0px; }
#comments_template input[type=text] { font-size:inherit; font-family:inherit; background: #fff; border: 1px solid #eee; border-radius: 2px;  -moz-border-radius: 2px;  padding: 10px;  color: #333;  width: 60%; }
#comments_template  textarea {  font-family:inherit;  background: #fff; border: 1px solid #ddd;  border-radius: 2px;  -moz-border-radius: 2px;
  padding: 10px;  color: #333;  width: 95%;  overflow: auto;  font-size:inherit; }
#comments .heading { font-size:18px;margin:25px 0 -25px;}

#comments_template form p { margin: 5px 0 }
#comments_template form label, input { float: left }
#comments_template form label {  width: 45px;  color: #777;  font-size: 11px;  text-align: right;  margin-right: 20px;  margin-top: 4px; }

.comment-reply-link{ float: left; padding: 0px 8px;text-align:center; color: #444;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; border:1px solid #ddd;  background:#f0f0f0 url(../sprites/i/title-item-bg.png) repeat-x;margin-top: 15px;box-shadow:0px 0px 3px #eee;cursor: pointer;text-shadow: 1px 1px 1px #fff;cursor: pointer;font-size: 9px;}
a#cancel-comment-reply-link{float: right;margin-right: 10px; padding: 2px 4px;text-align:center; color: #444;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; border:1px solid #ddd;  background:#f0f0f0 url(../sprites/i/title-item-bg.png) repeat-x;margin-top: 5px;box-shadow:0px 0px 3px #eee;cursor: pointer;text-shadow: 1px 1px 1px #fff;cursor: pointer;font-size: 10px;}

#comments_template form input[type=submit] {  margin: -10px 0px 20px 0;float: left; padding: 10px 15px;text-align:center; color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; border:1px solid #BF2706;  background:#E24608 url(../sprites/i/title-item-bg.png) repeat-x;margin-top: 5px;box-shadow:0px 0px 3px #eee;cursor: pointer;text-shadow: 1px 1px 1px #BF2706;cursor: pointer;}
#comments_template form input[type=submit]:hover {background:#d34710 url(../sprites/i/title-item-bg.png) repeat-x; }

/* ================================================================================== */
/* ==  Formbuilder ================================================================== */
/* ================================================================================== */

.dynamic_forms , .dynamic_forms form {  border: none;  position: relative; }
.dynamic_forms  p {  }

.dynamic_forms  label {  font-weight: bold;  color: #333; padding-left: 2px; }

.dynamic_forms  input[type=text], .dynamic_forms  select {
 float: none!important;
 display: block;
 border: 1px solid #ddd;
 border-radius: 2px;
 color: #777;
 font-size: 11px;
 margin: 7px 0 7px;
 padding: 8px 10px;
 width: 60%;
 font-family:inherit;
  }

.dynamic_forms  textarea {
 float: none!important;
 display: block;
 padding: 8px;
 border: 1px solid #ddd;
 border-radius: 2px;
 color: #777;
 font-size: 11px;
 margin: 7px 0 7px 0;
 width: 95%;
 resize: none;
 height: 100px;
 font-family: inherit;
 font-size: 11px;
 padding: 8px 10px;
 font-family: inherit; }

.dynamic_forms [type=submit] {background: url(i/button-sprite.png) repeat-x #222!important; color:#fff; border: 1px solid #000!important;text-shadow: none; border-radius: 2px; -moz-border-radius: 2px; font-weight: 600; font-size: 12px;padding: 10px 20px!important; cursor:pointer; }
.dynamic_forms [type=submit]:hover { background: url(i/button-sprite.png) repeat-x #111!important; }

.dynamic_forms .ajax-loading-icon {
 background: url(i/loader.gif) no-repeat;
 width: 16px;
 height: 16px;
 position: absolute;
 top: 10px;
 right: 20px; display:none; }


.dynamic_forms .success-box, .dynamic_forms .error-box {
 padding-top: 3px;
 text-align: center;
 margin: 15px 0px!important;  display:none; }

.dynamic_forms .success-box p, .dynamic_forms .error-box p { padding: 7px }

.error_state { border:1px solid #cd566a!important; box-shadow:0px 0px 0px 2px #f2d4d9;  }
.error-box { border:1px solid #AE0411; background:#7E0104; color:#fff; }
.error-box p { color:#fff; }
/* ================================================================================== */
/* ==  FlipTimer ==================================================================== */
/* ================================================================================== */

.ft {  }
.ft .holder {  float:left; margin-left:0px;  } /* Change the value of margin left if flips are too close to each other */
.ft .gap { margin-left:15px; }
.ft .active { position:absolute;z-index:10; } /* Class for element at top  */
.ft .reset{ position:absolute;z-index:4;  } /* Class for the rest of the elements  */
.ft ul { list-style:none; position:absolute; margin-top:110px;  }
.ft ul li { float:left; margin:0px 60px 0px 60px;   }

#udtimer { margin:10px auto 80px auto;  width:750px;  }

/* ================================================================================== */
/* ==  Events Stylings ============================================================== */
/* ================================================================================== */

.sidebar #event-meta-data ul{clear: both;}
.sidebar #event-meta-data li{list-style-type: none; margin-left: 0px;line-height: 24px;}
.sidebar #event-meta-data li span{float: right;font-weight: 600!important; color: #444!important; }
.sidebar #event-meta-data li span.booking {padding: 5px 15px;text-align:center; color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #BF2706;  background:#E24608 url(../sprites/i/title-item-bg.png) repeat-x;margin: 0 auto;box-shadow:0px 0px 3px #eee; float: right;text-shadow: 1px 1px 1px #BF2706!important;font-size: 13px; font-weight: 600!important;}
.sidebar #event-meta-data li span.booking:hover {background:#d34710 url(../sprites/i/title-item-bg.png) repeat-x;}
.sidebar #event-meta-data li span.booking a{color: #fff!important; display: block;}
.sidebar #event-meta-data li.last{margin-bottom: 10px;border-bottom: 1px dotted #ccc;padding-bottom: 10px;}
.sidebar #event-meta-data li.end{margin-bottom: 20px;padding-bottom: 20px;border: none;}
.sidebar #event-map {margin:20px 0;outline: 1px solid #ddd;border-top: 1px solid #fff;padding: 10px;background: #fff!important;}
#sidebar .google-map iframe {box-shadow:none!important;-moz-box-shadow: none!important;-webkit-box-shadow: none!important;}
a.more-link { background: url(i/button-sprite.png) repeat-x #fafafa;font-size: 10px;float: left; margin-top: 20px;color: #444;font-weight: 500;border: 1px solid #ddd; border-radius: 2px;-moz-border-radius: 2px;padding: 5px 10px;text-decoration: none!important; }
a.more { font-size: 10px;float: left; margin-top: 20px;color: #444;font-weight: 500; }
.single-pagination{float: left;}
.single-pagination a {padding: 4px 15px;text-align:center; color: #444;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #ddd;  background:#f0f0f0 url(../sprites/i/title-item-bg.png) repeat-x;margin-bottom: 15px;margin-top: 15px;margin-right: 15px;box-shadow:0px 0px 3px #eee; float: right;text-shadow: 1px 1px 1px #fff!important;font-size: 12px; font-weight: 600!important;}
.single-pagination a:hover {border:1px solid #BF2706;  background:#E24608 url(../sprites/i/title-item-bg.png) repeat-x;text-shadow: 1px 1px 1px #BF2706!important;color: #fff;}
a.more-link:hover { }
a.more:hover { }
