/* CSS Document */

/* ================================================================================== */
/* == Layout ======================================================================== */
/* ================================================================================== */

.container , .dummy-footer-text {
width:980px;
margin-left:auto;
margin-right:auto;
padding:0 30px!important;
position:relative;
z-index:2;
}

.full-width { padding:20px 0px; }

.one_half { width:472px; float:left; margin:4px 35px 4px 0px;  }
.one_half_last { width:472px; float:left; margin:4px 0 4px 0px; padding-right:0; clear:right!important;  }

.one_third { width:303px; float:left; margin:4px 35px 4px 0px;  text-align: justify;}
.one_third_last { width:303px; float:left; margin:4px 0 4px 0px; padding-right:0; clear:right!important; }

.one_fourth { width:218px; float:left; margin:4px 35px 4px 0px; }
.one_fourth_last { width:218px; float:left;  margin:4px 0 4px 0px; padding-right:0; clear:right!important;}

.two_third { width:642px; float:left; margin:4px 35px 4px 0px; }
.two_third_last { width:642px; float:left; margin:4px 0 4px 0px; padding-right:0; clear:right!important;  }

.three_fourth { width:722px; float:left; margin:4px 35px 4px 0px; }
.three_fourth_last { width:722px; float:left;margin:4px 0 4px 0px; padding-right:0; clear:right!important;  }

.one_fifth { width:167px; float:left; margin:4px 35px 4px 0px; }
.one_fifth_last { width:167px; float:left; margin:4px 0 4px 0px; padding-right:0; clear:right!important;  }

.four_fifth { width:767px; float:left; margin:4px 35px 4px 0px; }
.four_fifth_last { width:767px; float:left;margin:4px 0 4px 0px; padding-right:0; clear:right!important;  }

.one_sixth { width:133px; float:left; margin:4px 35px 4px 0px; }
.one_sixth_last { width:133px; float:left; margin:4px 0 4px 0px; padding-right:0; clear:right!important; }

.five_sixth { width:810px; float:left; margin:4px 35px 4px 0px; }
.five_sixth_last { width:810px; float:left; margin:4px 0 4px 0px; padding-right:0; clear:right!important;  }

.margin-5px  { margin:5px; }
.margin-10px { margin:10px; }
.margin-15px { margin:15px; }
.margin-20px { margin:20px; }
.margin-25px { margin:25px; }

.padding-5px  { padding:5px; }
.padding-10px { padding:10px; }
.padding-15px { padding:15px; }
.padding-20px { padding:20px; }
.padding-25px { padding:25px; }

/* ================================================================================== */
/* == Sidebar Structure ============================================================= */
/* ================================================================================== */

/* == Right Sidebar ========================== */

.hasRightSidebar .two-third-width { float:left; width:629px;}
.hasRightSidebar .sidebar { float:left; width:300px; }

/* == Left Sidebar ========================== */

.hasLeftSidebar .two-third-width { float:right; width:629px; }
.hasLeftSidebar .sidebar { float:left; width:300px; }



/* ================================================================================== */
/* == Home Slider Structure ========================================================= */
/* ================================================================================== */


#home-slider .description { width:400px; float:left; }
#home-slider .imageholder { float:left; width:550px; margin-top:23px; } 
#home-slider .imageholder a { display:block; width:708px; padding-bottom:35px; padding-left:120px; margin-left:-60px; }
#home-slider .imageholder a img { display:block; }


/* ================================================================================== */
/* == Home Page Top 4 Columns ======================================================= */
/* ================================================================================== */

.home-page-top-columns a.imageholder { display:block; width:218px; height:86px;  }

/* ================================================================================== */
/* == Single Portfolio ============================================================== */
/* ================================================================================== */

.two-third-width #single-portfolio-stage ,  .two-third-width #single-portfolio-stage a.imageholder img , .two-third-width  #single-portfolio-stage a.imageholder  { width:529px; height:550px;   }

.two-third-width #single-portfolio-stage  { margin-bottom: 20px;}

.full-width #single-portfolio-stage , .full-width #single-portfolio-stage a.imageholder img , .full-width #single-portfolio-stage a.imageholder { width:970px; height:550px;  } 

/* ================================================================================== */
/* == Accordion Layout ============================================================== */
/* ================================================================================== */

.two-third-width  #single-portfolio-stage ul.kwicks  {  width:618px; height:350px;    }
.full-width  #single-portfolio-stage ul.kwicks  { width:970px; height:350px;    }

/* ================================================================================== */
/* == Quickie Slider Layout ========================================================= */
/* ================================================================================== */

.two-third-width  #single-portfolio-stage ul.mainslider  { width:618px; height:350px;    }
.full-width  #single-portfolio-stage ul.mainslider  { width:970px; height:350px;    }

/* ================================================================================== */
/* == Galleria Layout =============================================================== */
/* ================================================================================== */

.two-third-width .galleria { width:618px; height:350px;    }
.full-width .galleria { width:970px; height:350px;    }

/* ================================================================================== */
/* == Portfolio Layout ============================================================== */
/* ================================================================================== */

.full-width .portfolio-one-column .imageholder {  width:980px; height:350px; }

.full-width .portfolio-one-column  .posts>li {  background: #fafafa; }
.full-width .portfolio-one-column .posts>li:hover {  background: #444;}
.full-width .portfolio-one-column .posts>li:hover h2 a { color: #fff; display: block; padding-top:2px!important; }
.full-width .portfolio-one-column .posts>li:hover h2 a:hover { color: #fff; text-decoration: underline;   }
.full-width .portfolio-one-column .posts>li:hover p { color: #aaa; margin-top:2px; }
.full-width .portfolio-one-column .posts>li:hover .more-link { color: #fff; background:#444 url(../sprites/i/nodate-item-bg.png) repeat-x;border: 1px solid #222;text-shadow: 1px 1px 1px #333;  }
.full-width .portfolio-one-column:hover .more-link:hover { background:#333 url(../sprites/i/nodate-item-bg.png) repeat-x;  }


.full-width .portfolio-one-column h2{padding: 5px 10px 0px; margin-left:10px!important;}
.full-width .portfolio-one-column p{padding: 10px 10px 0px;}
.full-width .portfolio-one-column .more-link {margin-left: 10px;background:#eee url(../sprites/i/date-item-bg.png) repeat-x; color:#444;text-shadow: 1px 1px 1px #fff;}

.two-third-width .portfolio-one-column .imageholder {  width:618px; height:250px; }

/* ==  two columns == */

.full-width .portfolio-two-column .imageholder {  width:450px; height:300px; }
.full-width .portfolio-two-column .posts>li { width:450px; float:left; margin:1px 20px 0px 20px; background: #fafafa;}

.full-width .portfolio-two-column .posts>li:hover {  background: #444;}
.full-width .portfolio-two-column .posts>li:hover h2 a { color: #fff; display: block; margin-top:2px; }
.full-width .portfolio-two-column .posts>li:hover h2 a:hover { color: #fff; text-decoration: underline;}
.full-width .portfolio-two-column .posts>li:hover p { color: #aaa; margin-top:2px; }
.full-width .portfolio-two-column .posts>li:hover .more-link { color: #fff; background:#444 url(../sprites/i/nodate-item-bg.png) repeat-x;border: 1px solid #222;text-shadow: 1px 1px 1px #333;  }
.full-width .portfolio-two-column .posts>li:hover .more-link:hover { background:#333 url(../sprites/i/nodate-item-bg.png) repeat-x;  }

.full-width .portfolio-two-column .posts>li.separator{height: 0px;}
.full-width .portfolio-two-column .posts>li h2{padding: 5px 10px 0px;}
.full-width .portfolio-two-column .posts>li p{padding: 10px 10px 0px;}
.full-width .portfolio-two-column .posts>li .more-link {margin-left: 10px;background:#eee url(../sprites/i/date-item-bg.png) repeat-x; color:#444;text-shadow: 1px 1px 1px #fff;}

.two-third-width .portfolio-two-column .imageholder {  width:270px; height:170px; }
.two-third-width .portfolio-two-column .posts>li { width:270px; float:left; margin:1px 20px 0px 20px;background: #fafafa; }

/* ==  three columns == */

.full-width .portfolio-three-column .imageholder {  width:280px; height:210px; }
.full-width .portfolio-three-column .posts>li { width:280px; float:left; margin:1px 20px 0px 20px; background: #fafafa;}

.full-width .portfolio-three-column .posts>li:hover {  background: #444;}
.full-width .portfolio-three-column .posts>li:hover h2 a { color: #fff; display: block; margin-top:2px; }
.full-width .portfolio-three-column .posts>li:hover h2 a:hover { color: #fff; text-decoration: underline;}
.full-width .portfolio-three-column .posts>li:hover p { color: #aaa; margin-top:4px; }
.full-width .portfolio-three-column .posts>li:hover .more-link { color: #fff; background:#444 url(../sprites/i/nodate-item-bg.png) repeat-x;border: 1px solid #222;text-shadow: 1px 1px 1px #333;  }
.full-width .portfolio-three-column .posts>li:hover .more-link:hover { background:#333 url(../sprites/i/nodate-item-bg.png) repeat-x;  }

.full-width .portfolio-three-column .posts>li.separator{height: 0px;}
.full-width .portfolio-three-column .posts>li h2{padding: 5px 10px 0px;}
.full-width .portfolio-three-column .posts>li p{padding: 10px 10px 0px;}
.full-width .portfolio-three-column .posts>li .more-link {margin-left: 10px;background:#eee url(../sprites/i/date-item-bg.png) repeat-x; color:#444;text-shadow: 1px 1px 1px #fff;}

.two-third-width .portfolio-three-column .imageholder {  width:165px; height:120px; }
.two-third-width .portfolio-three-column .posts>li { width:165px; float:left; margin:1px 20px 0px 20px; }

/* ==  four columns == */

.full-width .portfolio-four-column .imageholder {  width:200px; height:130px; }
.full-width .portfolio-four-column .posts>li { width:200px; float:left; height:300px; margin:1px 20px 0px 20px; background: #fafafa;}

.full-width .portfolio-four-column .posts>li:hover {  background: #444;}
.full-width .portfolio-four-column .posts>li:hover h2 a { color: #fff; display: block; margin-top:2px; }
.full-width .portfolio-four-column .posts>li:hover h2 a:hover { color: #fff; text-decoration: underline;}
.full-width .portfolio-four-column .posts>li:hover p { color: #aaa; margin-top:4px; }
.full-width .portfolio-four-column .posts>li:hover .more-link { color: #fff; background:#444 url(../sprites/i/nodate-item-bg.png) repeat-x;border: 1px solid #222;text-shadow: 1px 1px 1px #333;  }
.full-width .portfolio-four-column .posts>li:hover .more-link:hover { background:#333 url(../sprites/i/nodate-item-bg.png) repeat-x;  }

.full-width .portfolio-four-column .posts>li.separator{height: 0px;}
.full-width .portfolio-four-column .posts>li h2{padding: 5px 10px 0px;}
.full-width .portfolio-four-column .posts>li p{padding: 10px 10px 0px;}
.full-width .portfolio-four-column .posts>li .more-link {margin-left: 10px;background:#eee url(../sprites/i/date-item-bg.png) repeat-x; color:#444;text-shadow: 1px 1px 1px #fff;}

.two-third-width .portfolio-four-column .imageholder {  width:120px; height:70px; }
.two-third-width .portfolio-four-column .posts>li { width:120px; float:left; margin:1px 17px 0px 17px; }

.imageholder img { }
