/* CSS Document */

/* ================================================================================== */
/* == Resuable Classes ============================================================== */
/* ================================================================================== */

.justify { text-align:justify; }

/* ================================================================================== */
/* == Typography ==================================================================== */
/* ================================================================================== */


body { font-smooth:always; line-height:1.6; color:#888888; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; }

.content p , .latest-home-posts p { padding:11px 0px; }
