/* CSS Document */

/*

Widget styling for Hades PLus framework 

== Index ==============================
---------------------------------------

1. Wordpress Native Widgets Styling for Sidebar .
2. Wordpress Native Widgets Styling for Footer .

=======================================

*/



/* ================================================================================== */
/* == Wordpress Native Widgets Styling for Sidebar ================================== */
/* ================================================================================== */

/* == Sidebar Menu Styling ============================= */

.sidebar-wrap .menu li { line-height: 24px;border-bottom: 1px dotted #ddd;}
.sidebar-wrap .menu li a{ color: #444!important;}
.sidebar-wrap .menu li a:hover{ color: #e24608!important;}


/* == Sidebar Heading Styling ============================= */

#sidebar h3.heading { font-size:18px; font-weight:600; text-shadow:1px 1px 0px #fff; margin:3px 0 10px 0; padding:0 20px 10px 0;color: #444; border-bottom: 1px solid #eee;}

/* == Sidebar Widget Wrapper Styling ============================= */

.sidebar-wrap { margin:15px 0 25px; }

#sidebar .sidebar-wrap ul { margin:0; padding:0; }
#sidebar .sidebar-wrap ul li { list-style:none; padding:5px 0 3px 24px; margin:0; background:url(i/list-item.png) left 10px no-repeat;}
#sidebar .sidebar-wrap ul li h5{ font-weight: normal;line-height: 14px;  margin-top: 10px;margin-bottom: -5px; color: #444;}
#sidebar .sidebar-wrap ul li h5 a{ color: #444;}
#sidebar .sidebar-wrap ul li h5 a:hover{ color: #E24608;}
#sidebar .sidebar-wrap ul li p{ line-height: 18px;  }
#sidebar .sidebar-wrap a:hover { color:#444; text-decoration:underline; }
#sidebar .sidebar-wrap a { color:#777; text-decoration:none; }

#sidebar .sidebar-wrap ul.children li:last-child {  border-bottom: none;}

.hasLeftSidebar .sidebar .current_page_item { color:#e24608; text-decoration:underline;background:url(i/list-item-active.png) left 8px no-repeat!important; padding-left:23px}
.hasRightSidebar  .sidebar .current_page_item  { color:#e24608; text-decoration:underline;background:url(i/list-item-active.png) left 8px no-repeat!important; padding-left:23px;}
.hasLeftSidebar #sidebar .current_page_item a  , .hasRightSidebar #sidebar .current_page_item a{ color:#e24608!important; }

/* == Recent Comments Styling ====================== */

#sidebar .sidebar-wrap ul li.recentcomments { font-weight: 600; color: #444;list-style:none; padding:5px 0 8px 14px; margin:0; background:url(i/comment-item.png) left 14px no-repeat;}
#sidebar .sidebar-wrap ul li.recentcomments:last-child { border-bottom: none;}
#sidebar .sidebar-wrap ul li.recentcomments a{ font-weight: 500; color: #777;display: block!important;margin-top: -5px!important;}
#sidebar .sidebar-wrap ul li.recentcomments a:hover{ font-weight: 500; color: #E24608;}

/* == Blogroll Styling ====================== */

#sidebar .sidebar-wrap ul.xoxo li { font-weight: 500; color: #444;list-style:none; padding:5px 0 8px 14px; margin:0; background:url(i/link-item.png) left 13px no-repeat;}
#sidebar .sidebar-wrap ul.xoxo li a{ color: #444;}
#sidebar .sidebar-wrap ul.xoxo li a:hover{ color: #E24608;}

/* == Calendar Styling ======================= */

#calendar_wrap { background:#fafafa; border:1px solid #fff; box-shadow:0px 0px 2px 2px #e0e0e0; padding:5px; }
#wp-calendar { width:100%; display:block; }
#wp-calendar caption { text-align:center; }
#wp-calendar td { padding:5px; border:1px solid #eee;  color:#999; }

/* == Search Form Styling ====================== */

#searchform label { display:none; }  
#searchform input[type=text] { width:70%; padding:5px; border:1px solid #ddd; }
#searchform input[type=submit] { background:#fefefe; padding:4px; border:1px solid #fff; box-shadow:0px 0px 2px 2px #eee; border-radius:3px; cursor:pointer; } 

/* == Google Map Styling ====================== */

#sidebar .google-map iframe{ background:#fefefe; border:1px solid #fff; padding:5px; box-shadow:0px 0px 2px 2px #eee; }
#sidebar .google-map { margin:10px 0; }
/* == Custom Box Widget ======================== */

.custom-box-content img {  float:right;  padding:3px;  margin:13px 10px 0 0;  }

/* == Twitter Widget ======================== */

#sidebar .sidebar-wrap ul.latest-tweets li { background:url(i/twitter-item.png) left 10px no-repeat; padding-left:25px; display:block; }
#sidebar .sidebar-wrap ul.latest-tweets li a{ color: #444; }
#sidebar .sidebar-wrap ul.latest-tweets li a:hover{ color: #E24608; }

/* == Sidebar Forms Widget ======================== */

#sidebar .sidebar-wrap .dynamic_forms label {font-weight: bold;color: #444;padding-left: 2px; font-size: 12px;}
#sidebar .sidebar-wrap .dynamic_forms p {margin: 0;padding-bottom: 0px;}
#sidebar .sidebar-wrap .dynamic_forms [type="submit"] {padding: 6px 15px!important;text-align:center; color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #BF2706!important;  background:#E24608 url(../sprites/i/title-item-bg.png) repeat-x!important;margin-top: 5px;box-shadow:0px 0px 3px #eee;cursor: pointer;text-shadow: 1px 1px 1px #BF2706;}
#sidebar .sidebar-wrap .dynamic_forms [type="submit"]:hover {background:#d34710 url(../sprites/i/title-item-bg.png) repeat-x!important;}

/* == Flickr Widgets ========================== */

.flickr-images a { width:75px; height:75px; display:block; float:left; }
.flickr-images a img { width:75px; height:75px; display:block; }
.flickr-images img:hover { zoom: 1;filter: alpha(opacity=50);opacity: 0.5;}

/* == Super Post Widgets ========================== */

#sidebar .sidebar-wrap ul.widget-posts li { padding-left: 0!important; background:none; }

#sidebar .sidebar-wrap .widget-posts a.imageholder { width:65px; height:65px; background:url(i/loader.gif) center center no-repeat; float:left; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; margin:12px 10px 4px 0; }

/* == Ads 125 x 125px ============================= */

#sidebar .sidebar-wrap  .ads125 li { float:left; width:125px; height:125px;  margin:5px 14px 2px 0; }
#sidebar .sidebar-wrap  .ads125 li a { display:block; width:125px; height:125px; margin:0; padding:0; }
#sidebar .sidebar-wrap  .ads125 li a img { display:block; }

/* == Misc Styling for Sidebar =================== */

.sidebar-slider-wrapper { margin:25px 0 24px 0; }

#sidebar .sidebar-wrap a.more {padding: 6px 15px!important;text-align:center; color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #BF2706!important;  background:#E24608 url(../sprites/i/title-item-bg.png) repeat-x!important;margin-top: 5px;box-shadow:0px 0px 3px #eee;cursor: pointer;text-shadow: 1px 1px 1px #BF2706;}
#sidebar .sidebar-wrap a.more:hover {background:#d34710 url(../sprites/i/title-item-bg.png) repeat-x!important;}

.tagcloud {
margin:4px 10px 5px 0px;
padding-top: 5px;
color: #fff
}

.tagcloud a {text-align:center; font-size: 12px!important; color: #444; background:#ddd url(../sprites/i/title-item-bg.png) repeat-x;border:1px solid #ccc;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow:0px 0px 3px #eee;display:inline-block;padding:2px 12px 3px;margin:4px;}

.tagcloud a:hover {font-size: 12px!important; color: #fff!important; background:#E24608 url(../sprites/i/active-item-bg.png) repeat-x;border:1px solid #BF2706;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow:0px 0px 3px #eee;text-shadow: 1px 1px 1px #BF2706;}

/* ================================================================================== */
/* == Wordpress Native Widgets Styling for Footers ================================== */
/* ================================================================================== */

.footer-cols { margin-top:4px!important; }
#footer .footer-wrap { margin:17px 0; color:#777777;  }

#footer .footer-wrap p { padding:9px 0; }
#footer .footer-wrap ul { margin:0; padding:0; }
#footer .footer-wrap ul li a:hover { color:#444444; text-decoration: underline; }
#footer .footer-wrap ul li { list-style:none; padding:4px 0 4px 0px; margin:0;  }
#footer .footer-wrap ul.latest-tweets li { padding:4px 0 5px 0; }
#footer .footer-wrap a , #footer .footer-wrap ul.latest-tweets li a { color:#777777; }

#footer .footer-wrap a.more {background:#444 url(../sprites/i/nodate-item-bg.png) repeat-x;border: 1px solid #222; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;padding: 4px 15px; }

#footer .footer-wrap a.more:hover {background:#222 url(../sprites/i/nodate-item-bg.png) repeat-x;  }

#footer .footer-wrap a.imageholder img { -webkit-box-shadow:0px 1px 2px #222!important;-moz-box-shadow:0px 1px 2px #222!important;box-shadow:0px 1px 2px #222!important; }

/* == Calendar Styling ======================= */

#footer #calendar_wrap { background:none; border:none; box-shadow:none; padding:5px; }
#footer #wp-calendar caption { text-align:center; }
#footer #wp-calendar td { padding:5px; border:1px solid #ccc;  color:#ccc; }
/* == Search Form Styling ====================== */

#searchform label { display:none; }  
#searchform input[type=text] { width:70%; padding:8px; border:1px solid #ddd; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
#searchform input[type=submit] { -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #BF2706;  background:#E24608 url(../sprites/i/title-item-bg.png) repeat-x;box-shadow:0px 0px 3px #eee; padding:8px; cursor:pointer; color: #fff;margin-left: 3px;text-shadow: 1px 1px 1px #BF2706;}
#searchform input[type=submit]:hover { background:#d34710 url(../sprites/i/title-item-bg.png) repeat-x;} 

/* == Google Map Styling ====================== */

#footer .google-map iframe{ background:#fefefe; border:1px solid #111; padding:5px; box-shadow:0px 0px 2px 2px #111; }

/* == Custom Box Widget ======================== */

#footer .custom-box-content img {  float:left; padding:3px;  margin:13px 10px 0 0;  }

/* == Twitter Widget ======================== */

#footer .sidebar-wrap ul.latest-tweets li { background:url(i/twitter24px.png) left center no-repeat; padding-left:30px; display:block;margin: 10px 0; }

#footer .footer-wrap ul.latest-tweets li {padding: 10px 0 15px 0; }

/* == Flickr Widgets ========================== */

#footer .flickr-images a { width:75px; height:75px; display:block; float:left; padding:3px; margin:5px 10px 5px 0; border:1px solid #111; box-shadow:0px 0px 2px 2px #111; }
#footer .flickr-images a img { width:75px; height:75px; display:block; }

/* == Super Post Widgets ========================== */
#footer .footer-wrap ul.widget-posts li{  margin:10px 0;  }
#footer .footer-wrap ul.widget-posts li a.imageholder { width:65px; height:65px; background:url(i/loader.gif) center center no-repeat; float:left; padding:0px; margin:0px 10px 25px 0; border:1px solid #111!important; }

/* == Ads 125 x 125px ============================= */

#footer .footer-wrap  .ads125 li { float:left; width:125px; height:125px;  margin:5px 14px 2px 0; }
#footer .footer-wrap  .ads125 li a { display:block; width:125px; height:125px; margin:0; padding:0; }
#footer .footer-wrap  .ads125 li a img { display:block; }

/* ================================================================================== */
/* == Home Widgets ================================================================== */
/* ================================================================================== */

.home-widgets { padding-top:0px!important; margin-top: 10px; margin-bottom: -10px;}

.home-wrap h3.custom-box-title { color:#444; line-height:1.4; text-shadow:1px 1px 0px #fff; font-size:18px;  border-bottom:none; }
.home-wrap .custom-box-more { color: #444; background:#ddd url(../sprites/i/title-item-bg.png) repeat-x;border:1px solid #ccc; text-shadow:1px 1px 0px #fff; padding:4px 12px; float:left; margin-top:20px; font-size:11px;font-weight: 500;border-radius: 2px;-moz-border-radius: 2px; float: left!important; }
.home-wrap .custom-box-more:hover { background:#f0f0f0 url(../sprites/i/title-item-bg.png) repeat-x;}

.home-wrap h3.heading { color:#444; font-size:18px; margin:0 0 10px 0; padding:0px 0 10px 0;  border-bottom: 1px solid #ddd;}

.full-width .home-sidebar  { width:460px; float:left; margin:10px 30px 10px 30px;  }
.two-third-width .home-sidebar  { width:304px; float:left; margin:10px 10px 10px 10px;  }
.home-sidebar:first-child { margin-left:0; }
.no-margin-right { margin-right:0!important }

.home-wrap { margin:10px 0 10px 0; width:100%; clear:left;  }


.home-wrap .widget-posts h5 { line-height:1.3; margin-top:5px; font-weight: 600; letter-spacing: 0!important; font-size: 16px!important;}
.home-wrap .widget-posts h5 a { color: #444;}
.home-wrap .widget-posts h5 a:hover { text-decoration:none; }

.home-wrap .widget-posts li { margin:7px 0; padding:7px 0;border-bottom:1px dotted #ccc; background:none;  }
.home-wrap .widget-posts li p { padding-top:0; }
.home-wrap .widget-posts a.imageholder {  width:65px; height:65px; float:left; margin:10px 10px 10px 0; }
.home-wrap .widget-posts a.more { float:right; color:#111; font-size:11px; margin-top:-40px; } 

.home-wrap ul { margin:0; padding:0; }
.home-wrap ul li { list-style:none; padding:4px 0; margin:0; border-bottom:1px solid #eee;  padding-left:23px }
.home-wrap ul li h5{ font-weight: normal;line-height: 14px;  margin-top: 10px;}
.home-wrap  ul li p{ line-height: 18px;  }
.home-wrap a:hover { color:#444; text-decoration:underline; }
.home-wrap a { color:#777; text-decoration:none; }