@charset utf-8;

/*
Theme Name:   Shotzz
Theme URI:    http://www.wptitans.com/shotzz
Description:  A premium template for portfolio themes with Full width design. Follow us on <a href="http://twitter.com/#!/wptitan">Twitter              </a> or find more awesome products at <a href="http://themeforest.net/user/wptitans">Themeforest</a>.
Author:       WP Titans
Author URI:   http://www.wptitans.com/
Tags:         Multi Columns, Fixed Width, Custom Header, Custom Background, Threaded Comments,  Translation Ready,
Version:      1.8
*/

/* 

Index
============================

1.  Base Stylings       - Contains core Framework stylings for front end.
2.  Typography          - Contains common typographyic elements.
3.  Layout              - Contains layout stylings for columns, media and pages.
4.  Widgets             - Contains widget related stylings that is sidebar , footer and home widgets.
5.  Theme specific Stylings
6.  Top bar
7.  Menu
8.  Stage
9.  Home Page
10. Breadcrumbs
11. Page
12. Footer
13. Sidebar
14. Portfolio stylings
15. Single Portfolio
16. Events Manager
17. 404
============================
*/


/* ================================================================================== */
/* == Base Stylings ================================================================= */
/* ================================================================================== */

@import url("sprites/base.css");

/* ================================================================================== */
/* == Typography ==================================================================== */
/* ================================================================================== */

@import url("sprites/typography.css");

/* ================================================================================== */
/* == Layout ======================================================================== */
/* ================================================================================== */

@import url("sprites/layout.css");

/* ================================================================================== */
/* == Widgets ======================================================================= */
/* ================================================================================== */

@import url("sprites/widgets.css");

/* ================================================================================== */
/* == Shortcodes ==================================================================== */
/* ================================================================================== */

@import url("sprites/shortcodes.css");


/* ================================================================================== */
/* == Theme specific Stylings ======================================================= */
/* ================================================================================== */



/* ================================================================================== */
/* == General ======================================================================= */
/* ================================================================================== */

#logo { position:absolute; top:20px; left:20px;    }
#logo img { display:block; }
.nolink {  }

/* ================================================================================== */
/* == Menu ========================================================================== */
/* ================================================================================== */

#menu-bar { background: url(sprites/i/top-bg.png) no-repeat top center;position:relative; z-index:99; height:120px; border-bottom:1px solid #eee; border-top: 3px solid #444; }


#menu {  display: block;  padding: 0;  float: right; margin-top:24px; }
#menu li {  float: left;  line-height: 1.3;  text-align: left;  margin-top: 2px;  display: block;  z-index: 9; }

#menu>li {   text-align: left;  padding: 26px 0px; }
#menu>li>a { font-size:12px;  border-radius:3px;  -moz-border-radius:3px;    margin: 0px 10px;  padding: 5px 14px!important; display:block; letter-spacing:0px;  }
#menu>li>ul.sub-menu {  background: url(sprites/i/trans-bg-white.png); border:1px solid #fff!important;position: absolute; z-index: 9; top:65px; left: 0px; padding: 4px 12px; display: block; width: 180px; display: none; -webkit-box-shadow:0px 1px 2px #aaa;-moz-box-shadow:0px 1px 2px #aaa;box-shadow:0px 1px 2px #aaa;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; }
#menu ul.sub-menu li { float: none; display: block; padding: 8px 0; line-height: 20px; }
#menu ul.sub-menu li a {  font-size:11px;   }

#menu li a:hover {}
#menu li.current_page_item a { }
#menu li.current-menu-ancestor a {}

#menu div.sub-menu {background: url(sprites/i/trans-bg-white.png);  border:1px solid #fff!important; position: absolute; z-index: 9; top: 95px; left: 15px; padding: 4px 12px; display: block; display: none; width: 980px; -webkit-box-shadow:0px 1px 2px #aaa;-moz-box-shadow:0px 1px 2px #aaa;box-shadow:0px 1px 2px #aaa;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}

#menu div.sub-menu p{  padding: 10px 0; line-height: 20px;}
#menu div.sub-menu h6 { padding: 6px 5px 8px 5px; display: block; text-align: left; margin-left: -5px; font-size: 16px; }

#menu div.sub-menu>div {  float: left;  width: 170px;  margin: 10px;  padding-bottom: 10px; }
#menu div.sub-menu>div li{  line-height: 20px; }
#menu div.sub-menu>div a { text-transform: none;  font-size: 11px;  font-weight: 500; border: none; background: none; }

#menu>li>ul.sub-menu ul { position: absolute; z-index: 9; top: -5px; left: 180px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;  padding: 4px 12px; display: block; width: 180px; display: none; }

#menu li.rel { position: relative }

/* ================================================================================== */
/* == Stage ========================================================================= */
/* ================================================================================== */

#page-starter {  margin-bottom:0px; }
#page-starter .container { padding: 15px 0!important;  }

/* ================================================================================== */
/* == Home Page ===================================================================== */
/* ================================================================================== */


#home-slider .imageholder a { margin-top: 20px; box-shadow:none; -moz-box-shadow:none; }
#home-slider .imageholder img  { box-shadow:none; -moz-box-shadow:none; }
#home-slider  a.button { text-shadow: none;}

#home-slider h1 { font-size:30px;  padding-top: 40px; padding-bottom: 40px;line-height: 30px; text-align: center;}

.homepage-slider { padding-top:40px; margin-bottom: 20px;  }
.homepage-slider>div , .homepage-slider>ul { margin:10px auto; }

.homepage-static-image {  padding-top:40px;  box-shadow:none; -moz-box-shadow:none;  }
.homepage-static-image a { background:url(sprites/i/stage-shadowt.png) bottom center no-repeat!important; display:block; margin-bottom:-17px; box-shadow:none; -moz-box-shadow:none; padding-bottom:56px }
.homepage-static-image a img { display:block; margin:0; padding:0; box-shadow:none!important; -moz-box-shadow:none!important;  }

/* == Blurb Stylings ================================================================ */

div.blurb-wrapper {  padding:24px 0px 0px 0px; margin-top: 30px; }
div.blurb-wrapper div.container {  background: #383838 url(sprites/i/footer-bg-shine.png) top center no-repeat!important; padding-top:50px!important; padding-bottom:60px!important; } 
.blurb-wrapper p { font-size:24px; }  
.blurb-wrapper p.blurb-text { color:#fff!important; text-align:center;  letter-spacing:-0.5px; line-height:1.2; font-size:30px;  text-shadow: 1px 1px 1px #222;}
/* == When Button is active =========================================== */

.blurb-wrapper .hasButton p { float:left; width:700px; margin-right:50px; }
.blurb-wrapper .hasButton p.blurb-button { float:left; width:210px; padding:0; margin:0; border: 5px solid #444;-webkit-border-radius: 30px;-webkit-border-radius: 30px;-moz-border-radius: 30px; height:52px;margin-top: 10px;}
.blurb-wrapper .hasButton p.blurb-button a {display:block; background:#f0f0f0 url(sprites/i/button-item-bg.png) repeat-x!important;border: 1px solid #fff!important; -webkit-border-radius: 28px;-webkit-border-radius: 28px;-moz-border-radius: 28px; height:52px; margin-top: -1px;text-align: center;color: #444!important;letter-spacing: -1px; line-height: 52px;text-shadow: 1px 1px 1px #fff!important;box-shadow:0px 0px 3px #333!important;}
.blurb-wrapper .hasButton p.blurb-button a:hover { background:#ddd url(sprites/i/button-item-bg.png) repeat-x!important;}


/* == Home Page Top 4 Columns ======================================================= */

.iconed-title img { float:left; margin:5px 10px 5px 0; }
.iconed-title h2 { padding-top:8px; color:#444444; font-style:normal; font-weight:600; font-size:16px; line-height:1.2; letter-spacing: -0.7px; }
.home-page-top-columns { padding-top:15px; padding-bottom:10px; }
.home-page-top-columns .one_fourth p { margin-top: 5px; }
.home-page-top-columns a.imageholder { margin-bottom:15px; }
.home-page-top-columns img { margin-bottom:10px; }
.home-page-top-columns .more {float: left; margin: 15px 0 0 0; color: #e24608;font-size: 11px;}
.home-page-top-columns .more:hover {color: #444;}

/* == Home Page Contents ============================================================ */

.home-editor-content { padding-top:5px!important; }
.home-page-content {   margin-top:20px; }

#home-slider  {   }
#home-slider .description { padding-top:40px; text-shadow:1px 1px 1px #fff; color:#777; }
#home-slider .description p{ padding-bottom:15px;font-size:13px;  }
#home-slider .description h2 { font-size:30px; color:#444;padding-bottom:15px; padding-top: 10px;line-height: 36px;}

/* == Home Page Latest Posts ========================================================= */

.latest-home-posts .container { padding:74px 0 0px 0!important; margin-top: 20px; }
.latest-home-posts .container h2 {  font-style:normal; font-size:20px; margin-bottom:0px; letter-spacing: -0.7px; margin-top: -5px;}
.latest-home-posts .container .more {  font-size: 12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 4px 15px;  font-weight: 600; letter-spacing: 0px;}
.latest-home-posts .container .image { margin-bottom:20px; }
.latest-home-posts .container .description h3 {  line-height: 1.2;  font-style:normal; font-size:16px; margin-bottom:10px; letter-spacing: -0.7px; font-weight: 600; }
.latest-home-posts .container .extra-info { font-style:italic; font-size:9px; display:block; margin-top:4px;  }
.latest-home-posts .container .description a.more { font-size: 10px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;padding: 2px 12px;  text-transform: none; letter-spacing: 0px;}

/* ================================================================================== */
/* == Breadcrumbs =================================================================== */
/* ================================================================================== */

#breadcrumbs { height:29px; padding-top:10px;  }
#breadcrumbs a { font-weight: 600;} 
#breadcrumbs span {  font-size:11px;  }

/* ================================================================================== */
/* == Page ========================================================================== */
/* ================================================================================== */

#main-content a.imageholder img { display:block; visibility:hidden; opacity:0; -webkit-box-shadow:0px 0px 3px #bbb;-moz-box-shadow:0px 0px 3px #bbb;box-shadow:0px 0px 3px #bbb; }
#main-content  a.imageholder  {  display:block;   background:#fafafa url(sprites/i/loader.gif) center center no-repeat; margin-bottom:10px;}

/* ================================================================================== */
/* == Footer ======================================================================== */
/* ================================================================================== */

#footer { position:relative; height:100%;  }
#footer div.container , #footer div.phony-container{  padding-top: 15px!important; margin-top: 20px; }
#footer div.width980 { width:980px; margin:0 auto; }
#footer-menu { position:relative;  width:100%; margin-top:-34px;    }
#footer-menu div.container , #footer-menu .footer-phony-container {  height:100px; padding-top:25px!important; }

#footer-menu .menu { float:right; height: 100px; }
#footer-menu .menu li { float:left; margin:17px 0 7px 0; padding:0px 12px; }
#footer-menu .menu li:first-child { border:none; }
#footer-menu .menu li a { display:block;  }
#footer-menu .menu li a:hover {  }
#footer-menu div.container, #footer-menu .footer-phony-container {
background: #383838 url(sprites/i/footer-menu-separator.png) top center no-repeat;
}


#footer .footer-wrap h3.custom-box-title, #footer .footer-wrap h3.footer-heading { font-size: 20px; margin: 0 0 10px 0; padding: 0px 0 10px 0;font-style: normal; font-weight: 500; letter-spacing: -0.7px; line-height: 20px; }
#footer .footer-wrap h5 a{ font-size: 14px; letter-spacing: 0px; line-height: 14px;}

#footer .footer-wrap ul.latest-tweets li:first-child {margin-top: -5px;}
#footer .footer-wrap ul.widget-posts li a.imageholder { margin: 0px 10px 30px 0; -webkit-box-shadow:0px 1px 2px #222!important;-moz-box-shadow:0px 1px 2px #222!important;box-shadow:0px 1px 2px #222!important;}

/* == Footer Text =================================================================== */

.footer-text { float:left;  margin:17px 0 0 0; }
.inner-footer-wrapper { padding-bottom:10px; }


/* =================================================================================== */
/* == Pagination Styling ============================================================= */
/* =================================================================================== */

.pagination-panel {  display: inline-block;  margin: 15px 0 10px 0;   }
 
.pagination { width: 99%; margin: 10px auto; padding-top: 20px; }

.pagination-next, .pagination-prev {  float: left;  margin: -15px 0 0;  padding: 0; }
.pagination a, .pagination-next a, .pagination-prev a {
font-size: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow:0px 0px 3px #eee;float: left;padding: 2px 10px;margin: 4px 5px;font-weight: 500; }

.pagination span { font-size: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow:0px 0px 3px #eee; float: left;padding: 2px 10px;margin: 4px 5px; font-weight: 500; }

.pagination a:hover, .pagination-next a:hover {
font-size: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; }

/* ================================================================================== */
/* == Sidebar ======================================================================= */
/* ================================================================================== */


/* == Right Sidebar ========================== */

.hasRightSidebar .two-third-width { padding-right:30px; padding-top:20px;}
.hasRightSidebar .sidebar {  padding-left:20px; padding-top:0px; padding-bottom:10px; }

/* == Left Sidebar ========================== */

.hasLeftSidebar .two-third-width { padding-left:30px; padding-top:20px; }
.hasLeftSidebar .sidebar { padding-right:20px; padding-top:0px; padding-bottom:10px; }

.hasRightSidebar .sidebar li {line-height: 24px; }
.hasLeftSidebar .sidebar li {line-height: 24px; }

.sidebar #searchform { padding-top: 5px;}

/* ================================================================================== */
/* == Portfolio stylings ============================================================= */
/* ================================================================================== */

.portfolio { margin-top: 20px; }

.portfolio .posts li .description h2.custom-font { margin-top:10px; line-height: 18px;}
.portfolio .posts li .description  h2.custom-font a{ font-size: 18px; line-height: 18px;}

.portfolio-four-column h2.custom-font { margin-top:10px; line-height: 16px;}
.portfolio-four-column h2.custom-font a{ font-size: 16px; line-height: 16px;}
.portfolio .posts li.separator, div.separator { margin: 18px 0 30px;}

.workbutton {float: right; margin: 15px 0 30px 0; padding: 5px 15px; font-size: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;  font-weight: 600; }

.portfolio .more-link { margin: 15px 0 10px 0;  padding: 3px 8px;text-decoration: none;}
.portfolio .more-link:hover { }



/* ================================================================================== */
/* == Single Portfolio ============================================================== */
/* ================================================================================== */

/* == Stage Effect ===================== */
.single-portfolio #main-content { width:550px;  }
#single-portfolio-stage  {margin-bottom: 20px; }
#single-portfolio-stage a.imageholder img { display:block; visibility:hidden; opacity:0; }
#single-portfolio-stage a.imageholder  { float:left; display:block;   background:#fafafa url(sprites/i/loader.gif) center center no-repeat; margin:0px; padding:0px; box-shadow:none; border:none; }

#single-portfolio-stage .arrow-set , .titanslider .arrow-set { position:relative; z-index:40; top:10px; left:10px; }
.arrow-set a {float: left;padding: 5px 9px;margin: 1px; -webkit-border-radius: 2px;-moz-border-radius: 2px; border-radius: 2px; font-weight: 600 }

div.portfolio h2.custom-font { padding:0; margin:2px 0; line-height:1; }
#single-portfolio-stage .qSlider { }

.editor-content { margin-top:20px; }
.meta_sidebar { float:left; width:360px; }
.meta_sidebar h1{ margin-top: 50px;line-height: 30px; padding-bottom: 20px;margin-bottom: 20px;}
.meta_sidebar p{ padding: 5px 0; line-height: 18px;}

.next-post-thumb .hover-image small { background:url(sprites/i/right.png); width:108px; height:56px; top:20px; right:10px; }
.prev-post-thumb .hover-image small { background:url(sprites/i/left.png); width:108px; height:56px; top:20px; left:10px; }

.prev-post-thumb , .next-post-thumb { float:left;  width:265px; height:100px; border-bottom: 1px solid #eee;border-top:1px solid #eee; padding-top:30px; margin-top:10px; position:relative;padding-bottom: 30px; margin-bottom: 20px;}
.prev-post-thumb a { width:265px; height:100px; display:block; }
.next-post-thumb a {  width:265px; height:100px; display:block; }
.prev-post-thumb a img  , .next-post-thumb a img { display:block; visibility:hidden; opacity:0; }

/* ================================================================================== */
/* == Events Manager ================================================================ */
/* ================================================================================== */

#titan_calendar  { width:896px; margin:20px auto;border:0;padding:0; display:block; position:relative; border-right:none;}

.topbar { position:relative; width:896px; margin: 0 auto;}
.topbar #title  { width:250px;padding: 4px 15px;text-align:center; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;margin: 0 auto;}
.topbar #title  h6 {  font-size: 14px;}
 
#tswitch { position:absolute;top: 3px; }

#tswitch a.lactive{ font-size: 12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 4px 15px; }
#tswitch a.rr{ font-size: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;padding: 4px 15px; }

.event-next  { position:absolute; top:3px; right:10px; padding: 2px 15px; text-align:center; font-size: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; margin-top: -3px;margin-right: -10px; }

.event-prev { position:absolute; top:3px; right:10px; padding: 2px 15px; text-align:center; font-size: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;margin-top: -3px;margin-right: 50px; }

ul.cal_head { margin:0; padding:0 2px 0 0;  -webkit-border-top-left-radius: 2px;-webkit-border-top-right-radius: 2px;-moz-border-radius-topleft: 2px;-moz-border-radius-topright: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px }
ul.cal_head li { float:left; list-style:none; text-align:center; margin:0; padding:6px 0; width:126.5px; font-weight: 600;font-size: 12px; }

ul.date_rows li  { float:left; list-style:none; display:block;  width:128px; min-height:100px;  margin:0; padding:0; position:relative; }
ul.date_rows li.hasdate { }
ul.date_rows li.no-date div{ height: 24px;}

ul.date_rows li.hasdate  span { display:block;  top:0px; left:0px; width:100%; height:24px; z-index:2;  margin:0; padding:0; text-align:center; line-height: 24px; font-weight: 500;font-size: 11px;}

ul.date_rows li.hasdate h6 {   padding:10px 5px 5px; line-height: 24px!important;}
ul.date_rows li.hasdate  a.evt-link { font-size:11px; display:block; z-index:2;   line-height: 1.2; padding:0; }

ul.date_rows li.hasdate h6 a:hover { text-decoration:underline; }

ul.date_rows li.hasdate  a { position:relative; display:block;  height:100%; width:100%; }
ul.date_rows li  img {   z-index:1;   display:block; margin:0; padding:0!important; }


ul.date_rows li div.event-block { padding:0px 0px 15px 0px;}
ul.date_rows li div.event-block:first-child { margin:0; }

ul.date_rows li div.event-block h6 a{font-size: 12px!important;line-height: 24px; }
ul.date_rows li div.event-block p { margin:5px; padding:0; font-size:10px;line-height: 18px; }

ul.date_rows { margin:0; padding:0; }

#titan_list {width:896px; margin:80px auto 20px; border:0;padding:0; display:block; position:relative; }

#titan_list img{float: left;   }

#titan_list .image-wrapper { float:left; padding-left:50px; width:220px; margin-right:10px; }
#titan_list .description{ float: left; width:430px;  }
#titan_list .description h3 { margin-top:-8px; padding:0; }
#titan_list div.date{  float: left; width:180px; }
#titan_list div.date small { display:block;  font-size:22px; font-weight:900; margin:9px 15px 0px 0px; text-align:center; }
#titan_list div.date small.starting-date {  padding-bottom:11px; }

#titan_list ul li{margin-top: 40px;padding-bottom: 40px; }
#titan_list ul li:last-child{ border-bottom: none;}

#titan_list a.more {  font-size: 10px;float: right;margin: 5px 0 10px 0; font-weight: 500;  border-radius: 2px;-moz-border-radius: 2px;padding: 2px 13px; text-decoration: none; }

.sidebar #event-meta-data li span.info{ float: right!important ;font-weight: 600!important;  }
.sidebar #event-meta-data li span {  float:left; width:100px; font-weight:100!important; }
.sidebar #event-meta-data .booking { text-align:center; }

.single-events #single-portfolio-stage , .single-events #single-portfolio-stage .items li , .single-events #single-portfolio-stage a.imageholder , .single-events #single-portfolio-stage a.imageholder img { width:630px; height: 500px; margin-top: -10px;}

/* ================================================================================== */
/* == 404 =========================================================================== */
/* ================================================================================== */


h2.not-found {
 text-align: center;
 padding-top: 25px; }

p.not-found { text-align: center }

.error-search { margin-left:0px }

.content .error-search input[type=text] {
 border: 1px solid #dddddd;
 border-radius: 3px;
 -moz-border-radius: 3px;
 background: #fff;
 color: #7f7f80;
 padding: 8px 10px;
 margin: 7px 0 7px 110px;
 width: 600px;
 resize: none;
 height: 25px;
 font-family: inherit;
 font-size: 12px;
 float: left; }

.content .error-search input[type=submit] {
 background: url(sprites/i/default-filter.png) repeat-x;
 float: left;
 padding: 12px 25px!important;
 display: block;
 margin: 8px 0 0px 10px;
 border: 1px solid #b9b9b9;

 border-radius: 2px;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 font-size: 11px;
 font-weight: 900;
 color: #6b6b6b;
 
 cursor: pointer; }

.content .error-search label { display: none }
.error-search { margin-bottom:70px; }

.password-form { margin:20px 20px 30px 20px; }
.password-form form { background:#f9f9f9; border:1px solid #eee;  height:100px;  }
.password-form label { display:block; float:left;  }
.password-form p { margin:4px 20px; color:#111111; }
.password-form input[name=post_password] { border:1px solid #ccc; border-radius:3px; padding:5px 6px; float:right; margin:0px 5px 4px 6px; }
.password-form input[type=submit] { float:left; cursor:pointer; }