/* CSS Document /

/

Index
============================

1.  General
2.  Menu
============================
*/


/* == General =============================== */

body { background:#fff;  color:#888888; }

.title h1 { color:#444; font-size:24px;  padding-bottom: 10px;border-bottom: 1px solid #eee; }
.blurb-wrapper .blurb-text , .portfolio .description .custom-font a { color:#444; }
.content h1,  .content h2,  .content h3, .content h4, .content h5, .content h6 { color:#444; }


/* == Menu =============================== */

#menu-bar .container { background:url(../../../i/logo-separator.png) 160px 10px no-repeat; }

#menu>li>a { color:#777777;  }
#menu>li.current_page_item>a {  border:1px solid #0E8513;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x; box-shadow:0px 0px 3px #eee; color: #fff; text-shadow: 1px 1px 1px #0E8513; }
#menu>li.current-menu-ancestor>a { border:1px solid #0E8513;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x; box-shadow:0px 0px 3px #eee; color: #fff; text-shadow: 1px 1px 1px #0E8513;}

#menu>li.current_page_item>a {  color: #fff!important; text-shadow: 1px 1px 1px #0E8513;} 
#menu>li.current-menu-ancestor>a { color: #fff!important; text-shadow: 1px 1px 1px #0E8513;} 

#menu>li>ul.sub-menu { background: url(../../../i/trans-bg-white.png); border:1px solid #f4f4f4;}

#menu>li:hover>a { color:#079B0D; }

#menu ul.sub-menu li {  border-bottom: 1px dotted #ccc; }
#menu ul.sub-menu li a {  color:#777777;    }
#menu ul.sub-menu li a:hover { border: none; text-decoration: underline;color:#079B0D; }

#menu div.sub-menu { background: url(../../../i/trans-bg-white.png);  border:1px solid #f4f4f4; }
#menu div.sub-menu h6 { color: #444;border-bottom: 1px solid #ddd;font-size: 14px!important;}

#menu div.sub-menu>div li{  border-bottom: 1px dotted #ccc; }
#menu div.sub-menu>div a:hover {   color: #079B0D; text-decoration: underline; }


/* ================================================================================== /
/ == Home Page ===================================================================== /
/ ================================================================================== */

.home-wrap .widget-posts h5 a:hover { text-decoration:none; color:#079B0D; }
#home-slider h1 { text-shadow: 1px 1px 1px #fff; color:#444; font-family:"Dancing Script",Georgia, Serif; }

/* == Blurb Stylings ================================================================ */

div.blurb-wrapper div.container {  background:url(../../../i/footer-separator.png) top center no-repeat; } 
.blurb-wrapper p.blurb-text { color:#444;   }

/* == When Button is active =========================================== */

.blurb-wrapper .hasButton p.blurb-button a { background:#079B0D url(../../../i/button-item-bg.png) repeat-x; border: 1px solid #0E8513; -webkit-border-radius: 28px;-webkit-border-radius: 28px;-moz-border-radius: 28px;color: #fff; text-shadow: 1px 1px 1px #0E8513; box-shadow:0px 0px 3px #eee;}
.blurb-wrapper .hasButton p.blurb-button a:hover { background:#0E8513 url(../../../i/button-item-bg.png) repeat-x;}


/* == Home Page Top 4 Columns ======================================================= */

.iconed-title h2 { color:#444444; }
.home-page-top-columns .more { color: #079B0D; }
.home-page-top-columns .more:hover {color: #444;}

/* == Home Page Contents ============================================================ */

#home-slider .description { color:#777; }
#home-slider .description h2 {  color:#444; }

/* == Home Page Latest Posts ========================================================= */

.latest-home-posts .container { background:url(../../../i/footer-separator.png) top left no-repeat;  }
.latest-home-posts .container h2 { color:#444; }
.latest-home-posts .container .more {   color: #fff; background:#079B0D url(../../../i/active-item-bg.png) repeat-x; border:1px solid #0E8513; box-shadow:0px 0px 3px #eee; text-shadow: 1px 1px 1px #0E8513; }
.latest-home-posts .container .more:hover {  color: #fff; background:#0E8513 url(../../../i/active-item-bg.png) repeat-x; }
.latest-home-posts .container .description h3 { color:#444; }
.latest-home-posts .container .description h3  a { color:#444; } 
.latest-home-posts .container .description h3  a:hover { color:#079B0D; } 
.latest-home-posts .container .extra-info { font-style:italic; color:#888888;  }
.latest-home-posts .container .description a.more { color: #444; background:#ddd url(../../../i/active-item-bg.png) repeat-x; border:1px solid #ccc; box-shadow:0px 0px 3px #eee; text-transform: none; text-shadow: 1px 1px 1px #fff; }
.latest-home-posts .container .description a.more:hover { color: #777; background:#eee url(../../../i/active-item-bg.png) repeat-x;text-shadow: 1px 1px 1px #fff;}

/* ================================================================================== /
/ == Breadcrumbs =================================================================== /
/ ================================================================================== */

#breadcrumbs { background:#fafafa; border-bottom:1px solid #eee;  color:#444;   }
#breadcrumbs a {color: #444; } 
#breadcrumbs a:hover {text-decoration: underline;} 
#breadcrumbs span { color:#444;   }


/* ================================================================================== /
/ == Footer ======================================================================== /
/ ================================================================================== */

#footer div.container {   background:#383838 url(../../../i/footer-bg-shine.png) top center no-repeat;  }
#footer-menu div.container {   background:#383838 url(../../../i/footer-menu-separator.png) top center no-repeat;}

#footer-menu .menu li {  border-left:1px solid #777; }
#footer-menu .menu li a { color:#fff; }
#footer-menu .menu li a:hover {  color:#079B0D; }

#footer .footer-wrap li {color: #aaa; border-bottom: 1px dotted #555;}
#footer .footer-wrap a {color: #fff; }
#footer .footer-wrap p {color: #aaa; }

#footer .footer-wrap h3.custom-box-title, #footer .footer-wrap h3.footer-heading { color: #fff; text-shadow: 1px 1px 1px #222; border-bottom: 1px solid #666;}


#footer .footer-wrap h5 a{ font-size: 14px;letter-spacing: 0px;line-height: 14px;}
#footer .footer-wrap ul li a:hover{ color: #079B0D;}
#footer .footer-wrap h5 a:hover{ color: #079B0D;}
#footer .footer-wrap ul.widget-posts li a.imageholder { box-shadow: 0px 0px 3px #222; -moz-box-shadow: 0px 0px 3px #222; -webkit-box-shadow: 0px 0px 3px #222; border: 1px solid #222;}

/* == Footer Text =================================================================== */

.footer-text { color:#aaa; }

/* =================================================================================== /
/ == Pagination Styling ============================================================= /
/ =================================================================================== */

.pagination-panel { border-top: 1px solid #ccc; }
 
.pagination { border-top: 1px solid #eee; }

.pagination a, .pagination-next a, .pagination-prev a {
font-size: 12px; color: #fff; background:#079B0D url(../../../i/active-item-bg.png) repeat-x;border:1px solid #0E8513;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow:0px 0px 3px #eee;text-shadow: 1px 1px 1px #0E8513;float: left;padding: 2px 10px;margin: 4px 5px;font-weight: 500; }

.pagination span {
 color: #fff; background:#444 url(../../../i/active-item-bg.png) repeat-x; border:1px solid #333; box-shadow:0px 0px 3px #eee; text-shadow: 1px 1px 1px #333; }

.pagination a:hover, .pagination-next a:hover {
 color: #fff; background:#333 url(../../../i/active-item-bg.png) repeat-x; border:1px solid #222; box-shadow:0px 0px 3px #eee;text-shadow: 1px 1px 1px #111!important; }
 
/* =================================================================================== */
/* == Posts Styling ================================================================== */
/* =================================================================================== */

.details a:hover{color: #079B0D;}
.posts li .extras li.comment a { color:#079B0D; }
.blog-posts .more-link {  color: #fff; background:#079B0D url(../../../i/active-item-bg.png) repeat-x;border:1px solid #0E8513; box-shadow:0px 0px 3px #eee;text-shadow: 1px 1px 1px #0E8513; }

/* == Blog Styling ====================== */

#authorbox .authortext a:hover { color: #079B0D;text-decoration: underline; }

/* == Comments ========================= */

#comments .logged-in-as a:hover{color: #079B0D;}

/* == Comment Form ====================== */

#comments_template form input[type=submit] {  color: #fff;border:1px solid #0E8513; background:#079B0D url(../../../i/title-item-bg.png) repeat-x;text-shadow: 1px 1px 1px #0E8513;}
#comments_template form input[type=submit]:hover {background:#0E8513 url(../../../i/title-item-bg.png) repeat-x; }

/* ================================================================================== /
/ == Sidebar ======================================================================= /
/ ================================================================================== */


/* == Right Sidebar ========================== */

.hasRightSidebar .sidebar {   border-left: 1px solid #eee; }

/* == Left Sidebar ========================== */

.hasLeftSidebar .sidebar { border-right: 1px solid #eee;}

.hasRightSidebar .sidebar li { border-bottom: 1px dotted #ccc;}
.hasLeftSidebar .sidebar li { border-bottom: 1px dotted #ccc;}

/* ================================================================================== /
/ == Portfolio stylings ============================================================= /
/ ================================================================================== */

.workbutton {  color: #fff; background:#079B0D url(../../../i/active-item-bg.png) repeat-x; border:1px solid #0E8513; box-shadow:0px 0px 3px #eee;text-shadow: 1px 1px 1px #0E8513; }
.workbutton:hover {background:#0E8513 url(../../../i/active-item-bg.png) repeat-x; }

/* ================================================================================== /
/ == Single Portfolio ============================================================== /
/ ================================================================================== */

.arrow-set a { color: #fff; background:#444 url(../../../i/active-item-bg.png) repeat-x; border:1px solid #222; text-shadow: 1px 1px 1px #333;  }
.arrow-set a:hover {background:#333 url(../../../i/active-item-bg.png) repeat-x; }

/* ================================================================================== /
/ == Events Manager ================================================================ /
/ ================================================================================== */

.topbar #title  {  color: #444; border:1px solid #0E8513;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x; box-shadow:0px 0px 3px #eee;}
.topbar #title  h6 {  color: #fff; text-shadow: 1px 1px 1px #0E8513;}
 
#tswitch a.lactive{  color: #fff; background:#079B0D url(../../../i/active-item-bg.png) repeat-x; border:1px solid #0E8513; box-shadow:0px 0px 3px #eee; text-shadow: 1px 1px 1px #0E8513; }
#tswitch a.rr{  color: #777; background:#ddd url(../../../i/active-item-bg.png) repeat-x; border:1px solid #ccc;  box-shadow:0px 0px 3px #eee;}

.event-next  { color: #444; background:#ddd url(../../../i/title-item-bg.png) repeat-x;border:1px solid #ccc; box-shadow:0px 0px 3px #eee;}
.event-next:hover  { background: #fafafa;}

.event-prev { color: #444; background:#ddd url(../../../i/title-item-bg.png) repeat-x; border:1px solid #ccc; box-shadow:0px 0px 3px #eee;}
.event-prev:hover { background: #fafafa; }

ul.cal_head { background:#444 url(../../../i/head-item-bg.png) repeat-x; border-bottom: 1px solid #222; }
ul.cal_head li {  color:#fff; text-shadow: 1px 1px 1px #333;  }

ul.date_rows li  {  background: #fff; }
ul.date_rows li.hasdate { }
ul.date_rows li.no-date div{background:#aaa url(../../../i/nodate-item-bg.png) repeat-x; }

ul.date_rows li.hasdate  span { background:#eee url(../../../i/date-item-bg.png) repeat-x; color:#444; text-shadow: 1px 1px 1px #fff; }


ul.date_rows li.hasdate  a.evt-link {  color:#444; }
ul.date_rows li div.event-block:hover { background:#fafafa; }

ul.date_rows li div.event-block p { color:#555; }

ul.date_rows { background: #fff; }


#titan_list .image-wrapper { background:url(../../../i/extra-border.png) top left no-repeat; }

#titan_list div.date small { font-family:"Dancing Script",Arial; color:#444; }
#titan_list div.date small.starting-date { border-bottom:1px dotted #ccc;}

#titan_list ul li{  border-bottom: 1px solid #ddd;}

#titan_list a.more { background: url(../../../i/button-sprite.png) repeat-x #fafafa; color: #444; border: 1px solid #ddd;  }
#titan_list a.more:hover { background: url(../../../i/button-sprite.png) repeat-x #fff;color: #777;border: 1px solid #ccc; }

/* ================================================================================== */
/* ==  Events Stylings ============================================================== */
/* ================================================================================== */

.sidebar #event-meta-data li span.booking {padding: 5px 15px;text-align:center; color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #0E8513;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x;margin: 0 auto;box-shadow:0px 0px 3px #eee; float: right;text-shadow: 1px 1px 1px #0E8513!important;font-size: 13px; font-weight: 600!important;}
.sidebar #event-meta-data li span.booking:hover {background:#0E8513 url(../../../i/title-item-bg.png) repeat-x;}
.sidebar #event-meta-data li span.booking a{color: #fff!important; display: block;}

.single-pagination a:hover {border:1px solid #0E8513;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x;text-shadow: 1px 1px 1px #0E8513!important;color: #fff;}

/* ================================================================================== */
/* ==  Sidebar Stylings ============================================================== */
/* ================================================================================== */


.sidebar-wrap .menu li a:hover{ color: #079B0D!important;}
#sidebar .sidebar-wrap ul li h5 a:hover{ color: #079B0D;}
.hasLeftSidebar .sidebar .current_page_item { color:#079B0D; text-decoration:underline;background:url(../../../i/list-item-active.png) left 8px no-repeat!important; padding-left:23px}
.hasRightSidebar  .sidebar .current_page_item  { color:#079B0D; text-decoration:underline;background:url(../../../i/list-item-active.png) left 8px no-repeat!important; padding-left:23px;}
.hasLeftSidebar #sidebar .current_page_item a  , .hasRightSidebar #sidebar .current_page_item a{ color:#079B0D!important; }

#sidebar .sidebar-wrap ul.xoxo li a:hover{ color: #079B0D;}
#sidebar .sidebar-wrap ul li.recentcomments a:hover{ font-weight: 500; color: #079B0D;}
#sidebar .sidebar-wrap ul.latest-tweets li a:hover{ color: #079B0D; }

#sidebar .sidebar-wrap .dynamic_forms [type="submit"] {padding: 6px 15px!important;text-align:center; color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #0E8513!important;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x!important;margin-top: 5px;box-shadow:0px 0px 3px #eee;cursor: pointer;text-shadow: 1px 1px 1px #0E8513;}
#sidebar .sidebar-wrap .dynamic_forms [type="submit"]:hover {background:#0E8513 url(../../../i/title-item-bg.png) repeat-x!important;}

#sidebar .sidebar-wrap a.more {padding: 6px 15px!important;text-align:center; color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #0E8513!important;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x!important;margin-top: 5px;box-shadow:0px 0px 3px #eee;cursor: pointer;text-shadow: 1px 1px 1px #0E8513;}
#sidebar .sidebar-wrap a.more:hover {background:#0E8513 url(../../../i/title-item-bg.png) repeat-x!important;}

.tagcloud a:hover {font-size: 12px!important; color: #fff!important; background:#079B0D url(../../../i/active-item-bg.png) repeat-x;border:1px solid #0E8513;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow:0px 0px 3px #eee;text-shadow: 1px 1px 1px #0E8513;}

#searchform input[type=submit] { -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border:1px solid #0E8513;  background:#079B0D url(../../../i/title-item-bg.png) repeat-x;box-shadow:0px 0px 3px #eee; padding:8px; cursor:pointer; color: #fff;margin-left: 3px;text-shadow: 1px 1px 1px #0E8513;}
#searchform input[type=submit]:hover { background:#0E8513 url(../../../i/title-item-bg.png) repeat-x;} 